{% extends 'base.html' %}
{% block title %}Contextual Tagging using Controlled Vocabularies &amp; Categorisation Systems{% endblock %}
{% block content %}
        <h1>Contextual Tagging</h1>
        <p><b>Tag content contextually using concepts from controlled vocabularies.</b> What an alliteration&hellip;</p>
        <!--
        <p>Here's a Google Chrome browser extension doing just that. It allows tagging content using controlled vocabularies managed here.</p>
        <p><a class="btn call"
            href="https://chrome.google.com/webstore/detail/tagging/HASH">
            <i class="icon-tags"></i>
            Download tagging
            <small class="nowrap">for Google Chrome</small><br>
            </a>
        </p>
        -->
        <p>Tagging can be integrated with your website or CMS to receive the tagging data.<br>
            Please <a href="https://vizualbod.com">contact Francis</a>
            for integration support
            or see the <a href="/docs#tagging">documentation</a> example.</p>
        <!--p>Once installed, you need to fill in your credentials in the extension options.</p-->
        <p><a href="{% url 'records' %}">Recent records</a>
            <a href="{% url 'add-record' %}" class="btn">+ add a record</a></p>
{% endblock %}
