{% extends 'base.html' %}
{% block title %}Contextual Tagging using Controlled Vocabularies &amp; Categorisation Systems{% endblock %}
{% block content %}
    <div id="intro">
        <h1>Contextual Tagging</h1>
        <p><b>Tag content contextually using concepts from controlled vocabularies.</b> What an alliteration&hellip;</p>
        <p>Here's a Google Chrome browser extension doing just that. It allows tagging content using controlled vocabularies managed here.</p>
        <p><a class="btn call"
            href="#https://chrome.google.com/webstore/detail/tagging/HASH">
            <img src="/img/tag.png" widht="22" height="22" alt="">
            Download tagging
            <small>for Google Chrome<br>
                Sorry, evaluation installation is currently unavailable
                due to updates in Chrome security policy.<br>
                Please leave us feedback below to arrange a walkthrough.
            </small>
            </a>
        </p>
        <p>Tagging requires integration with the website/CMS to be tagged. See <a href="/docs">documentation</a>.</p>
        <p>Once installed, you need to fill in your tagging credentials in the extension options to save tags.</p>
    </div>
{% endblock %}
