{% extends 'base.html' %}
{% block title %}Contextual Tagging using Controlled Vocabularies &amp; Categorisation Systems{% endblock %}
{% block content %}
    <div id="intro">
        <h1>Contextual Tagging</h1>
        <p><b>Tag content contextually using concepts from controlled vocabularies.</b> What an alliteration&hellip;</p>
        <p>Here's a Google Chrome browser extension doing just that. It allows tagging content using controlled vocabularies managed here.</p>
        <p><a id="install" href="/tagging.crx"><img src="/tagging/img/icon.png" alt=""> Install tagging <small>for Google Chrome</small></a></p>
        <p>Once installed, you need to fill in your tagging credentials in the extension options to save tags.</p>
    </div>
{% endblock %}
