{% extends "base.html" %}
{% block head %}{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{{ base_url }}/css/vocabulary.css?{{ version }}" />
    <link rel="stylesheet" href="{{ base_url }}/css/autocomplete.css?{{ version }}" />
    <link rel="stylesheet" href="{{ base_url }}/css/set.css?{{ version }}" />
{% endblock %}
{% block extrascripts %}
    <script src="{{ base_url }}/js/jquery.formset.js?{{ version }}"></script>
    <script src="{{ base_url }}/js/ac_formset.js?{{ version }}"></script>
{% endblock %}
{% block content %}
    {% include 'tag/record-form.html' %}
    <p><a href="{% url 'records' %}">&larr; All tags</a></p>
{% endblock %}
