<form method="post" action="{{ base_url }}{{ request.path }}" id="tagging">
    {% include "messages.html" %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <a href="{{ record.url }}" taget="_blank">{{ record.url }}</a>
    <br>

    <h2>Tags</h2>
    {% csrf_token %}
    {{ form.errors }}
    {{ formset.management_form }}

    {% include "vocabulary/concept-set-formset.html" %}

    <p>
        <br>
        <button class="save">Save</button>
        <button class="discard" title="discard changes">Discard</button>
        Autosaved every 5 seconds.
    </p>
</form>