<form method="post" action="{{ base_url }}{{ request.path }}" id="tagging">
    {% include "messages.html" %}
    <ul>
        {{ form.as_ul }}
    </ul>
    {% if record.url and 'http' in record.url %}
        <a href="{{ record.url }}" taget="_blank">{{ record.url }}</a>
    {% endif %}

    {% csrf_token %}
    {{ form.errors }}
    {{ formset.management_form }}

    <h2>Record concepts</h2>
    {% include "vocabulary/concept-set-formset.html" %}

    <p><button class="save btn call">Save record</button></p>
</form>