<form method="post" action="{{ base_url }}{{ request.path }}" id="tagging">
{% include "messages.html" %}
{% csrf_token %}
{{ form.errors }}
<p>
    <button class="send" type="submit">Send</button>
    <button class="save">Save now</button>
    <button class="discard" title="discard changes">Discard</button>
</p>
{% include "vocabulary/concept-set-formset.html" %}

<ul>
{{ form.as_ul }}
</ul>

<p>{{ formset.management_form }}
    <br>
    <button class="send" type="submit">Send</button>
    <button class="save">Save now</button>
    <button class="discard" title="discard changes">Discard</button> Autosaved every 5 seconds.
</p>
</form>