*.DS_Store
__pycache__
*.pyc
*.log
*.zip
*.sqlite
.idea
data/
unilex/templates/medd/last-update.txt
uploads/
static/assets/admin
static/rest_framework/
static/static/
static/pay
static/med
static/fm
static/nom
static/sip
medd
pay
/log
/.python-version
/uv.lock
