*.DS_Store
__pycache__
*.pyc
*.log
*.zip
.idea
data/
unilex/templates/medd/last-update.txt
upload
static/clinic/
static/nom/
static/admin
static/pay
static/med
static/fm
static/rest_framework/
static/static/
static/nom
static/sip
medd
pay
