django>=2.1  # web framework
gunicorn     # backend server
mysqlclient==2.1.1  # database bindings
PyMySQL      #  for MySQL
xlrd         # Excel reader
lxml         # parsing DM+D export data
requests     # network requests
docutils     # generate documentation
sentry_sdk   # error reporting
fabric       # updates
invoke
openai
markdown
# git+git://github.com/fmalina/django-pay.git#egg=pay
# git+git://github.com/fmalina/unilex-medd.git#egg=medd
django-reversion
django-rest-framework
django-allauth

# Install using:
# sudo pip3 install -r requirements.txt --upgrade

# translit
transliterate
