# sudo pip3 install -r requirements.txt --upgrade
django # web framework
gunicorn # backend server
mysqlclient # database bindings, any Django supported DB
xlrd # Excel reader
git+git://github.com/macropin/django-registration.git