[Unit]
Description=unilex
After=network.target

[Service]
PIDFile=/tmp/unilex.pid
User=f
Group=f
Environment=DB_PASS=...
Environment=SECRET_KEY=...
WorkingDirectory=/home/f/SITES/unilex
ExecStart=/usr/local/bin/gunicorn wsgi:application -p /tmp/unilex.pid -b 127.0.0.1:8001 -w 3 -n unilex_gunicorn
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
