@charset "UTF-8";

@font-face {
  font-family: "uxfont";
  src:url("fonts/uxfont.eot");
  src:url("fonts/uxfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/uxfont.woff") format("woff"),
    url("fonts/uxfont.ttf") format("truetype"),
    url("fonts/uxfont.svg#uxfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "uxfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "uxfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tags:before {
  content: "y";
}
.icon-external:before {
  content: "a";
}
.icon-edit:before {
  content: "e";
}
.icon-put-in:before {
  content: "g";
}
.icon-cut-out:before {
  content: "h";
}
.icon-search:before {
  content: "k";
}
.icon-check:before {
  content: "d";
}
.icon-save:before {
  content: "s";
}
.icon-caret:before {
  content: "^";
}
