<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" /> 
        <title>{% block title %}{{ title }}{% endblock %}{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ base_url }}/assets/css/screen.css?{{ version }}">
        <link rel="stylesheet" href="{{ base_url }}/assets/css/vocabulary.css?{{ version }}">
        <link rel="stylesheet" href="{{ base_url }}/assets/css/print.css?{{ version }}" media="print">
        <link rel="stylesheet" href="{{ base_url }}/assets/css/uxfont.css?{{ version }}">
        <script src="{{ base_url }}/assets/js/jquery.min.js"></script>
        <script src="{{ base_url }}/assets/js/jquery.autocomplete.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy"
            content="default-src 'self';font-src 'self' fonts.gstatic.com;style-src 'self' fonts.googleapis.com">
        {% block head %}{% endblock %}
        {% block extrahead %}{% endblock %}
        {% block extrastyles %}{% endblock %}
        {% block extrascripts %}{% endblock %}
    </head>
    <body{% block body_id %}{% endblock %}>
    {% block header %}
    <header class="{% block header_class %}{% endblock %} clearfix">
        <nav><a href="{{ base_url }}" class="logo">Unilexicon</a>
        {% block nav %}
            <a href="{{ base_url }}{% url 'listings' %}">Taxonomies</a>
            {% if user.is_staff %}
            <a href="{{ base_url }}/admin/" title="Admin">
                <span class="icon icon-edit"></span></a>{% endif %}
            {% if user.is_anonymous %}
            <a id="loginlink" rel="nofollow"
                href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
                <span class="sep">|</span>
                <a href="{% url 'account_signup' %}">Sign up</a>
            {% else %}
            <a href="{% url 'profile' %}">Your profile</a>
            {% endif %}
            <a href="{% url 'subscribe' %}">Prices</a>
        {% endblock %}
        </nav>
        {% block search %}
            {% include 'vocabulary/search-input.html' %}
        {% endblock %}
        {% block headspace %}{% endblock %}
    </header>
    {% endblock %}

    {% include 'messages.html' %}
    <main class="content">
        {% block headline %}{% endblock %}
        {% block content_wrap %}
            {% block content %}{% endblock %}
        {% endblock %}
    </main>
    {% block sidebar %}{% endblock %}
    {% block footer %}
    <footer>
        {% include 'feedback/form.html' %}
        <nav>
            &copy; {% now "Y" %} Unilexicon by <a href="/fm/">F. Malina</a>
            <a href="#feedback" id="open_feedback">Contact</a>
            <a href="{{ base_url }}{% url 'docs' %}">Docs</a>
            for <a href="{{ base_url }}/med/" target="_blank" title="Unilexicon for Medicines">Med
                <i class="icon icon-external"></i></a>
            <a href="{{ base_url }}/translit" target="_blank" title="Online transliterator">Translit
                <i class="icon icon-external"></i></a>
        </nav>
        {% include 'debug.html' %}
    </footer>
    {% endblock %}
    {% block cookies %}
        <div id="cookie-consent"></div>
        <script src="{{ base_url }}/assets/js/cookies.js?{{ version }}"></script>
    {% endblock %}
    </body>
</html>
