{% extends 'base.html' %}
{% block title %}Unilexicon: taxonomy editor for controlled vocabularies, SKOS thesaurus suite{% endblock %}
{% block extrahead %}
<meta name="description" content="Create and manage controlled vocabularies, than use your taxonomies to tag content.
Simple knowledge organization system (SKOS) thesaurus software for your organisation.">
<meta property="og:image" content="{{ base_url }}/assets/img/unilexicon.png">
<link rel="stylesheet" href="{{ base_url }}/assets/css/home.css?{{ version }}" />
{% endblock %}
{% block header_class %} lead{% endblock %}
{% block headspace %}
<section class="headspace">
    <h1>Taxonomy editor suite</h1>
    <p class="btn-links clearfix">
        {% include 'vocabulary/add.html' %}
    <p>Unilexicon™ a visual editor and taxonomy manager for authoring
    <a href="{% url 'listings' %}">controlled vocabularies</a>
    with a content tagging&nbsp;extension.
    <div id="editor">
        <h2>Visual taxonomy editor and management tools for
            controlled vocabularies and thesauri</h2>
        <ul>
        <li>use <a href="/tree/unilexicon">beautiful graphs</a>
            and predictive taxonomy search to explore and edit vocabularies
        <li>drag and drop concept ordering with attractive
            <a href="/tree/unilexicon#view-card">intuitive interface</a>
        <li>comprehend and manage relations in large complex taxonomies
        <li>author simple knowledge organisation systems (SKOS) fast and well
        <li>import and export formats including JSON, SKOS,
            HTML lists, markdown/text, CSV and Excel
        </ul>
        <p>Unilexicon is a free tool for creating and managing public taxonomies with paid
            Professional Plus membership supporting its continuous development
            and offering features that include private
            vocabularies, collaboration tools, and fast technical support.
            <a href="{% url 'subscribe' %}">Become a Professional Plus Member</a>
        </p>
    </div>
</section>
{% endblock %}

{% block content %}

</div>

<section class="content center">
    <blockquote>
    <p>We publish the world's most comprehensive port guide in book form and online.
    <p>The taxonomy work has been proceeding slowly for quite some time,<br>
    mainly due to the lack of a useful tool to make it easier.
    <p>Unilexicon has made a huge difference. Yesterday I transformed the data from<br>
    being categorised in 2/3 levels, to a 95% complete usable taxonomy over 10 levels.</p>
    <p><cite>Faergal Hogan
        <a href="https://www.oneocean.com/services/guide-to-port-entry/">
            One Ocean: Guide to Port Entry</a></cite>
    </blockquote>
    <p><a class="btn" href="/signup/">Register today</a>
</section>

<div class="content">
    <section class="tagging">
        <div id="demo">
            <div id="tab">Unilexicon: taxonomy editor</div>
            <div id="url"><span>https://</span>unilexicon.com</div>
            <div id="tag">
                <div id="tip"></div>
                <div id="in1">
                    <iframe src="/tag/" frameborder="0" width="340" height="465" title="tagging demo"></iframe>
                </div>
            </div>
        </div>
        <div class="desc">
        <h2>Tagging tool</h2>
        <p>Allows you to tag your resources using controlled vocabularies.
        <ul><li>Seamlessly integrated with the Unilexicon repository,
        enabling you to efficiently tag your content, documents, items, and records.
        <li>It is content management system independent, so you can easily
        <a href="/tag/about">tag websites or your own records.</a>
        You can use it as a Chrome browser extension or integrate
        it directly into your CRM or CMS.
        <li>Unfortunately, tagging extension is <b>currently
        unavailable</b>. However, if you require annotation functionality,
        please contact <a href="/fm/">František Malina</a> to discuss sponsorship opportunities.
        </ul>
        </div>
    </section>
</div>
<div class="content">
<div class="clearfix"></div>
    <h2>Professional Plus Membership</h2>
    <p>Welcome! I’m <a href="/fm/">Francis Malina</a>, creator of Unilexicon—a platform designed
        to simplify complex taxonomy work so you can focus on meaningful tasks,
        like defining concepts and relationships. With user-friendly tools like
        drag-and-drop sorting and automatic concept IDs,
        Unilexicon handles the technical work for you.</p>
    <p>While our public taxonomies are free, **Professional Plus** offers exclusive
        benefits for those who need private vocabularies.
        Upgrade today to enjoy team collaboration, priority support, and GDPR-compliant privacy.</p>
    <p>Join our community of taxonomists and knowledge workers and help
        Unilexicon grow with your support.</p>
    <p><a href="/pro/subscribe" class="btn call">Get Professional Plus</a></p>
{% endblock %}

{% block ext %}
<i class="icon icon-external"></i>
<a href="{{ base_url }}/med/" target="_blank" title="Unilexicon for Medicines">Med</a>
<a href="{{ base_url }}/translit" title="Online transliterator">Translit</a>
{% endblock %}
