{% extends 'base.html' %}
{% block title %}Unilexicon: taxonomy editor for controlled vocabularies, SKOS theasurus suite{% endblock %}
{% block extrahead %}
<meta name="description" content="Create and manage controlled vocabularies, than use your taxonomies to tag content.
Simple knowledge organization system (SKOS) thesaurus software for your organisation.">
<meta property="og:image" content="{{ base_url }}/assets/img/unilexicon.png">
<link rel="stylesheet" href="{{ base_url }}/assets/css/home.css?{{ version }}" />
{% endblock %}
{% block header_class %} lead{% endblock %}
{% block headspace %}
<section class="headspace">
    <h1>Taxonomy editor suite</h1>
    <p class="btn-links clearfix">
        <a class="btn" href="{% url 'listings' %}">Explore taxonomies</a>
        {% include 'vocabulary/add.html' %}
    <p>Unilexicon™ a visual editor and taxonomy manager for authoring controlled
    vocabularies with a content tagging&nbsp;extension.
    <div id="editor">
        <h2>Visual taxonomy editor and management tools for
            controlled vocabularies and thesauri</h2>
        <ul>
        <li>use <a href="/tree/unilexicon">beautiful graphs</a>
            and predictive taxonomy search to explore and edit vocabularies
        <li>drag and drop concept ordering with attractive
            <a href="/tree/unilexicon#view-card">intuitive interface</a>
        <li>comprehend and manage relations in large complex taxonomies
        <li>author simple knowledge organisation systems (SKOS) fast and well
        <li>import and export formats including JSON, SKOS,
            HTML lists, markdown/text, CSV and Excel
        </ul>
        <p>Unilexicon is a free tool for creating and managing public taxonomies with paid
            professional membership supporting its continuous development
            and offering features that include private
            vocabularies, collaboration tools, and fast technical support.
            <a href="{% url 'subscribe' %}">Become a professional member</a>
        </p>
    </div>
</section>
{% endblock %}

{% block content %}

</div>

<section class="content center">
    <blockquote>
    <p>We publish the world's most comprehensive port guide in book form and online.
    <p>The taxonomy work has been proceeding slowly for quite some time,<br>
    mainly due to the lack of a useful tool to make it easier.
    <p>Unilexicon has made a huge difference. Yesterday I transformed the data from<br>
    being categorised in 2/3 levels, to a 95% complete usable taxonomy over 10 levels.</p>
    <p><cite>Faergal Hogan
        <a href="https://www.oneocean.com/services/guide-to-port-entry/">
            One Ocean: Guide to Port Entry</a></cite>
    </blockquote>
    <p><a class="btn" href="/signup/">Register today</a>
</section>

<div class="content">
    <section class="tagging">
        <div id="demo">
            <div id="tab">Unilexicon: taxonomy editor</div>
            <div id="url"><span>https://</span>unilexicon.com</div>
            <div id="tag">
                <div id="tip"></div>
                <div id="in1">
                    <iframe src="/tag/" frameborder="0" width="340" height="465" title="tagging demo"></iframe>
                </div>
            </div>
        </div>
        <div class="desc">
        <h2>Tagging tool</h2>
        <p>Allows you to tag your resources using controlled vocabularies.
        <ul><li>Seamlessly integrated with the Unilexicon repository,
        enabling you to efficiently tag your content, documents, items, and records.
        <li>It is content management system independent, so you can easily
        <a href="/tag/about">tag websites or your own records.</a>
        You can use it as a Chrome browser extension or integrate
        it directly into your CRM or CMS.
        <li>Unfortunately, tagging extension is <b>currently
        unavailable</b>. However, if you require annotation functionality,
        please reach out to <u>hi@unilexicon.com</u> to discuss sponsorship opportunities.
        </ul>
        </div>
    </section>
</div>
<div class="content">
<div class="clearfix"></div>
<h2>Professional subscription</h2>
<p>Hi, I'm Francis Malina the creator of Unilexicon, a free and open platform that helps
you manage taxonomies and classifications. I know from experience that taxonomy
work can be complex and time-consuming, and that's why I've designed Unilexicon
with a focus on user experience. When you use Unilexicon, you can spend less time
working on technical complexities and more time focusing on the important human
aspects of taxonomy work, like finding the right concepts and defining their
relationships.

<p>I believe that good design is about decreasing cognitive load and making
complex tasks feel intuitive and easy. That's why Unilexicon handles the heavy
technical aspects for you, like handling XML serialization, storing RDF, and
generating great unique human-readable concept IDs. Drag-and-drop visual sorting
and relationship representation helps ensure correctness and reduces mistakes.

<p>I'm always looking for ways to make Unilexicon better,
and I do rely on your feedback to prioritise tasks.
To send suggestions for new features, ideas for improving the platform, or
just want to say hello, please reach out to me at <u>hi@unilexicon.com</u>. By using
Unilexicon, you're not just getting access to a powerful taxonomy management tool, you're
also joining a community of taxonomists and knowledge workers who are committed to
building a better, more connected world.

<p>Unilexicon offers a free and open platform to manage public taxonomies
under the <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>
license. By contributing your vocabulary, you're
helping to build a public knowledge base that benefits everyone.

<p>However, some users do require private taxonomies for
their work. If you're using a private vocabulary and would like to
access advanced features, I encourage you to upgrade to a
professional subscription.
With a paid subscription, you'll have access
to exclusive features such as collaboration tools, fast technical support
and GDPR-compliant privacy for your taxonomy data.

<p>By subscribing, not only will you have access to these exclusive
features, but you'll also be supporting the continued development of
Unilexicon. Your contribution will help me maintain and improve the
platform, ensuring that it remains a valuable resource for taxonomists
everywhere.
<p><a href="/pro/subscribe" class="btn call">Purchase professional membership</a>

{% endblock %}