{% extends 'base.html' %}
{% block title %}Your profile{% endblock %}
{% block content %}
    <h1>Your profile</h1>
    <div class="col1">
        <form method="post" action="{{ request.path }}">
            {{ form.as_p }}
            {% csrf_token %}
            <p><button type="submit">Save</button></p>
        </form>

    </div>
    
    <div class="col2">
        <p><a href="{% url 'subscribe' %}"><b>Subscribe to PRO</b></a><br>
            use private vocabularies, access first class
            <a href="mailto:hi@unilexicon.com">technical support</a>,
            request a team authority multiuser setup for your organisation

        <ul class="list-unstyled">
            <li><a href="{% url 'account_email' %}">Manage email addresses</a>
                set your work email address</li>
            {% if user.subscription.expires %}
                <li><a href="/pro/receipts">Your receipts</a>
                    subscription expiry: {{ user.subscription.expires }}</li>
            {% endif %}
            <li><a href="{% url 'account_change_password' %}">Change password</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
        {% if user.authority_set.all %}
            <h3>Your authorities</h3>
            <ul class="list-unstyled">
                {% for a in user.authority_set.all %}
                <li><a href="{% url 'authority' a.code %}">{{ a.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
