{% extends 'base.html' %}
{% block title %}Transliterator{% endblock %}
{% block nav %}{% endblock %}
{% block search %}{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/translit.css?{{ version }}">
{% endblock %}
{% block extrascripts %}
    <script src="{{ base_url }}/assets/js/translit.js?{{ version }}"></script>
{% endblock %}
{% block content %}
<h1>Transliterator</h1>
<ul class="list-inline">
<li><a href="translit">✖ reset</a>
<li><a href="#" id="swap">⬆⬇ swap</a>
<li><a href="?inp={{ maps.ru_xx }}&out={{ maps.sk_ru }}">RU ▶ SK</a>
<li><a href="?inp={{ maps.ka_xx }}&out={{ maps.sk_ka }}">GEO ▶ SK</a>
</ul>
<form class="translit" name="translit">
    <p><i class="icon-cut"></i><textarea name="inp"
        placeholder="Transliterate from: a b v g d... sh ch oo the *ed... st* sp*">{{ inp_map }}</textarea>
       <i class="icon-put"></i><textarea name="out"
        placeholder="Transliterate to:   а б в г д...  š  č  ú   d   d... št šp">{{ out_map }}</textarea>
    <p><i>↓</i><textarea name="txt" rows="10"
        placeholder="Enter text to transliterate">{{ original }}</textarea>
    <blockquote><p>{{ result }}</blockquote>
    <p><button>Translit</button>
</form>
{% endblock %}
{% block footer %}{% endblock %}
