@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600&display=swap');

body{font-family:'Open Sans',sans-serif;
    background:white;color:#333;margin:0;padding:0}

.logo{font-family:'Montserrat',sans-serif;
    font-size:14px;letter-spacing:4px;text-transform:uppercase}

a{color:#3E92CC}
a:hover{color:#005089}

button, input[type="submit"], a.btn{color:#fff;border-radius:4px;
    background-image: linear-gradient(45deg, #005089 0%, #3E92CC 100%)}
button:hover, input[type="submit"]:hover, a.btn:hover{
    background-image: linear-gradient(50deg, #005089 0%, #3E92CC 100%)}
