a img{border:0}
body{background:#d4d4d4;font-size:100%}

#container{width:980px;margin:0 auto;position:relative;background:#fff}
#content{min-height:300px}
#header{border-bottom:8px solid #24651E;padding:0}
#header #mega{padding-left:20px}

#logo{float:left;padding:20px}
#logo img{border:0}

#footer{clear:both;padding:10px 15px;border-top:6px solid #24651E;}
#search{margin:20px 80px;width:500px;float:left}
.ac_results small{display:none}

#narrow-down{position:relative}
#narrow-down #all{display:inline}
#narrow-down li{list-style:none}
#narrow-down ul{display:none;position:absolute;top:1em;left:0;background:#fff;border:1px solid #ddd;margin:0;padding:0}
#narrow-down #default:hover ul{display:block}