#mega{font-size:12px;clear:both;position:relative;margin:0;padding:2em 0 0 0}
#mega .level1{background:#fff;background:rgba(255,255,255,0.95)}
#mega a{text-decoration:none}
#mega a:hover{text-decoration:underline}
#mega li{list-style:none}
#mega a.level1{margin:0 .2em 0 0;font-size:2em;padding:.5em 1em;border:1px solid #ddd;border-radius:4px 4px 0 0}
#mega .hovering .level1{border-bottom-color:#fff}
#mega .level2{padding:.5em 0;font-size:1.5em;display:block}
#mega .level3{display:block;padding:.2em 0;margin:0;font-size:1.2em}
#mega .level1{background-position:-500px 50%;display:block;padding:8px 12px}
#mega .level2-wrap .haschildren a{margin-bottom:0}
#mega .level2-wrap{position:absolute;top:6.5em;left:0;border:1px solid #ddd;border-top:0;border-radius:0 0 4px 4px;
    z-index:2;display:none;background:#fff;background:rgba(255,255,255,0.95);padding:15px;margin:0}
#mega .level2-inner-wrap{display:inline-block}

#mega .level2-wrap{color:bold}
#mega .level3-wrap{padding:0 0 1em 0;font-weight:normal}
#mega .level1-inner-wrap{float:left;}
#mega .level1-inner-wrap.hovering .level2-wrap{display:block !important}
#mega .level2-inner-wrap{width:14em;vertical-align:top;margin-right:1em}

#mega .col5{margin-right:0}
#mega .level2-wrap li a{}
#content{border-bottom:0}