#mega,
#mega a.level1,
#mega .level2-wrap{border:2px solid #aaa}

#mega{font-size:12px;clear:both;position:relative;margin:0 0 2em 0;padding:2em 0 0 2em;height:2.9em;border-width:0 0 2px 0}
#mega .level1{background:#fff}
#mega a{text-decoration:none}
#mega a:hover{text-decoration:underline}
#mega a.level1{margin:0 .2em 0 0;font-size:1.2em;padding:.5em 1em;border-radius:4px 4px 0 0}
#mega .hovering .level1{border-bottom-color:#fff}
#mega .level2{padding:.5em 0;font-weight:bold;display:block}
#mega .level3{display:block;padding:.2em 0;margin:0}
#mega .level1{display:block;padding:8px 12px}
#mega .level2-wrap .haschildren a{margin-bottom:0}
#mega .level2-wrap{position:absolute;top:5.1em;left:0;border-top:0;border-radius:0 0 4px 4px;
    z-index:2;display:none;background:#fff;padding:15px;margin:0}
#mega .level2-inner-wrap{display:inline-block}

#mega .level2-wrap{color:bold}
#mega .level3-wrap{list-style:none;padding:0 0 1em 0;font-weight:normal}
#mega .level1-inner-wrap{list-style:none;float:left}
#mega .level1-inner-wrap.hovering .level2-wrap{display:block !important}
#mega .level2-inner-wrap{width:14em;vertical-align:top;margin-right:1em}

#mega .col5{margin-right:0}
#mega .level2-wrap li a{}
