#mega{font-size:12px;clear:both;position:relative;margin:0;padding:0}
#mega li.home a,
#mega .level1{background-image:url(/static/img/bg-nav.png)}
#mega li.home a{background-color:#fff;background-position:0 50%;background-repeat:no-repeat;text-indent:-999px;width:14px}
#mega a{text-decoration:none;color:#fff}
#mega a:hover,
#mega .hovering a{background:#104F75}
#mega li{list-style:none}
#mega .level1{margin:0 .2em 0 0;font-size:1em;font-weight:bold;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0}
#mega .hovering .level1 a{background-color:#104F75}
#mega .level2{padding:.4em 0;margin:0 0 1em 0;font-size:1em;display:block}
#mega .level3{display:block;padding:.2em 0;margin:0;font-size:1em}
#mega .level1{background-color:#104F75;background-position:-500px 50%;display:block;padding:8px 12px}
#mega .level2-wrap .haschildren a{margin-bottom:0}
#mega .level2-wrap{position:absolute;top:31px;left:0;z-index:2;display:none;background-color:#104F75;padding:15px;margin:0;width:100%}
#mega .level2-inner-wrap{display:inline-block}

#mega .level2-wrap{font-weight:bold}
#mega .level3-wrap{padding:0 0 1em 0;font-weight:normal}
#mega .level1-inner-wrap{float:left;}
#mega .level1-inner-wrap.hovering .level2-wrap{display:block !important}
#mega .level2-inner-wrap{width:14em;vertical-align:top;margin-right:1em}

#mega .col5{margin-right:0}
#mega .level2-wrap li a{color:#fff}