@import url('/css/autocomplete.css');

body{font-family:"Open Sans", Arial, sans-serif;margin:0;padding:0;font-size:13px}
a{color:#23A4FF}
a:hover{color:#005089}
h1{font-size:3em;margin:0;padding:.2em 0 0 0}
.content h1,h2{font-weight:300}
fieldset{border:0;padding:0}
dfn{border-bottom:1px dotted #ddd;cursor:help;font-style:normal}
.clear{clear:both}
.text-muted{color:silver}
.hide{display:none}
.beta{font-size:20px}
.external:after{font-family:"uxfont";content:" a";font-size:11px;color:#555}

#header,#footer{padding:15px 30px;color:#333}
#footer,.content{border-top:1px solid #ddd}
#footer a{color:#0b66a6}

.content{padding:30px 50px;color:#333;position:relative}
.nav{font-size:1.1em;padding:0}
.nav{list-style:none;margin:0}
.nav ul{list-style:none}
.nav a{text-decoration:none}

#header .nav .sep{border-right:1px solid #ddd;padding-right:4px}
#header .nav{display:inline;padding:0 30px 0 0}
#header .nav li{display:inline-block;padding-right:1.1em}
#header .nav a{text-transform:uppercase;color:#999;font-weight:600;font-size:13px}
#header .nav a:hover{color:#333}

form ul{margin:0;padding:10px 0}
form ul li{list-style:none;padding:5px 0}
form label{display:block;text-transform:uppercase;font-size:10px;color:#999}
input,textarea{border:1px solid #ddd;border-radius:2px;background:#ffe}
form input{width:350px;padding:5px;font-size:20px}
form input[type="file"]{border:0;font-size:inherit;background:transparent}

.details{font-size:10px;color:#666;float:right;padding:2px 0 0 10px}

div.paginator{margin:1em 0px}
div.paginator a,
div.paginator span{padding:.3em .7em;margin-right:.2em;border-radius:5px;background:black}
div.paginator a{text-decoration:none}
div.paginator a:hover,
div.paginator a:active{color:white}
div.paginator span{color:gray}

button,
input[type="submit"],
.btn{text-decoration:none;display:inline-block;padding:.5em 1em;color:#fff;
background:#23A4FF;cursor:pointer;border:0;border-radius:5px;margin-top:1em}
.btn:hover,
button:hover,
input[type="submit"]:hover{text-shadow:#440 0 0 3px;
    background:#005089;
    color:#fff}
.call{padding:1em 1.5em;font-size:1.5em}
.call small{font-size:.7em}

.col1,.col2{width:45%;float:left;padding-right:3%}
hr{border-color:rgba(255,255,255,0.2);clear:both}
.inline{padding-left:0}
.inline li{display:inline-block;list-style-type:none;padding:0 1em 1em 0}

#search,#search div{display:inline-block}
#search{padding:0 15px 0 5px}
#search button,
#search input{background:#fff;border:1px solid #bbb;z-index:2}
#search input{border-radius:2px 0 0 2px;border-right:0;padding:1px 5px 4px 5px}
#search input:active{outline:none;border-color:#999}
#search button{border-radius:0 2px 2px 0;border-left:0;margin:0;padding:6px 6px 5px 0}
#search button i{color:#333;text-shadow:none;font-size:14px}

#sr{margin:0;padding:0}
#sr li{list-style:none;padding:0 0 1.5em 0}
#sr h2{font-weight:normal;font-size:16px;margin:0}
#sr h2 small{font-size:10px;color:#ccc}
#sr p{padding:0;margin:0}
#sr p small{color:#eee}
#sr{width:600px}

#feedback .placeholder{height:1.2em;overflow:hidden;color:gray}
#feedback_status,#feedback_submit{display:none}
#feedback_status{padding:0 10px;font-weight:bold;color:green}
#feedback{clear:both;text-align:left}
#feedback,#feedback textarea{width:560px}
#feedback h3{margin:0;padding:0;font-size:12px}
#feedback label{font-weight:normal;display:block;padding:5px 0}
#feedback textarea{margin:5px 0;font-family:sans-serif}
#footer #feedback textarea,
#footer #feedback input{font-size:12px;padding:3px;background:#fff}
#footer #feedback button{margin:0}
#footer fieldset{padding:0}
#footer #feedback input{width:200px}
#footer #feedback_optional label{display:inline-block;padding-right:5px}
#footer #feedback_optional{float:right;margin-top:0;width:auto}
#footer #feedback_submit{float:none;margin-top:0;width:auto}
#footer #queries{color:#ccc;margin-top:300px}