@import url('/css/autocomplete.css');

body{font-family:Arial, sans-serif;margin:0;padding:0;font-size:13px}
a{color:#23A4FF}
h1{font-size:25px;margin:0;padding:30px 0 0 0}
h2{font-size:24px}
#intro h1{font:50px Georgia, serif}
fieldset{border:0;padding:0}
.clear{clear:both}
.hide{display:none}
.beta{font-size:20px}

#header,#footer{padding:15px 30px;color:#333}
#footer a{color:#0b66a6}

#content{padding:0}
#content form,
#content #content-in{padding:30px 50px}
#content>h2{padding-left:30px}
#content>p{padding-left:50px}
#nav{display:inline;font-size:14px;color:#ccc}
#nav{list-style:none;margin:0;padding:0 30px 0 0}
#nav ul{list-style:none}
#nav a{text-decoration:none}
#nav a:hover{text-decoration:underline}
#header #nav li{display:inline-block;padding-right:1.1em}

form ul{margin:0;padding:10px 0}
form ul li{list-style:none;padding:5px 0}
form label{display:block;text-transform:uppercase;font-size:10px;color:#999}
form input{width:350px;border:2px solid #111;padding:5px;font-size:20px}
form input[type="file"]{border:0;font-size:inherit}

.details{font-size:10px;color:#666;float:right;padding:2px 0 0 10px}

div.paginator{margin:1em 0px}
div.paginator a,
div.paginator span{padding:.3em .7em;margin-right:.2em;border-radius:5px;background:black}
div.paginator a{text-decoration:none}
div.paginator a:hover,
div.paginator a:active{color:white}
div.paginator span{color:gray}

button,
input[type="submit"],
.btn{text-decoration:none;display:inline-block;text-shadow:#000 0 0 3px;border:1px solid #666;text-shadow:0 1px 3px #444;color:#fff;padding:15px;background:rgba(0,0,0,.3);cursor:pointer;border-radius:5px;margin-top:15px;font:20px Georgia,serif}
.btn:hover,
button:hover,
input[type="submit"]:hover{background:rgba(0,0,0,.5);border:1px solid #646464}
.call small{font:12px arial, serif}
.call{padding:20px 25px}

.col1,.col2{width:45%;float:left;padding-right:3%}
.col1 a,.col2 a{font-weight:bold}
hr{border-color:rgba(255,255,255,0.2);clear:both}
.inline{padding-left:0}
.inline li{display:inline-block;list-style-type:none;padding:10px;}

#search,#search div{display:inline-block}
#search{padding:0 15px 0 5px}
#search input{background:#eee;border:1px solid #bbb;border-radius:5px 0 0 5px;height:22px}
#search button{margin:0;border-radius:0 5px 5px 0}
#search input:focus{background:#fff}
#search button{position:relative;top:-3px;color:#fff;background:green;border:0;text-shadow:#000 0 0 3px;font-size:12px;cursor:pointer;padding:10px 8px}
#search button:hover{text-decoration:underline}

#sr{margin:0;padding:0}
#sr li{list-style:none;padding:0 0 1.5em 0}
#sr h2{font-weight:normal;font-size:16px;margin:0}
#sr h2 small{font-size:10px;color:#ccc}
#sr p{padding:0;margin:0}
#sr p small{color:#eee}
#sr{width:600px}

#feedback .placeholder{height:1.2em;overflow:hidden;color:gray}
#feedback_status,#feedback_submit{display:none}
#feedback_status{padding:0 10px;font-weight:bold;color:green}
#feedback{clear:both;text-align:left}
#feedback,#feedback textarea{width:560px}
#feedback h3{margin:0;padding:0;font-size:12px}
#feedback label{font-weight:normal;display:block;padding:5px 0}
#feedback textarea{margin:5px 0;font-family:sans-serif}
#footer #feedback textarea,
#footer #feedback input{font-size:12px;padding:3px;border:1px solid #bbb}
#footer #feedback button{margin:0}
#footer fieldset{padding:0}
#footer #feedback input{width:200px}
#footer #feedback_optional label{display:inline-block;padding-right:5px}
#footer #feedback_optional{float:right;margin-top:0;width:auto}
#footer #feedback_submit{float:none;margin-top:0;width:auto}