.set{position:relative}
.set .add{display:none}
#queries .set .add{display:inline-block}
.set li{position:relative !important;padding:5px 0 !important}
.set a{outline:0}

label{text-transform:uppercase;color:#888;display:block;font-size:11px}
.ac_results li small,
.set p small{color:#aaa;padding-left:5px}
.set p small{opacity:0}
.set li:hover p small{opacity:.7}
#queries .set li p small,
.set p small:hover{opacity:1}
.set div p{margin:0}
.set div,
.set small,
.set .autocomplete{width:280px !important}

.form,
.autocomplete,
.add-row{display:block}
.delete-row{float:right;text-decoration:none}
.delete-row:hover{color:#c00}

.add{text-decoration:none;padding-right:3px}
.go{text-decoration:none;padding-right:5px;color:#bbb}

.ac_results small{font-size:11px !important}
#tagging{font-size:13px}
#tagging .ac_input{background:#fff}
#tagging small{opacity:0}
#tagging li:hover small{opacity:.5}
#tagging small:hover{opacity:1}
#tagging .go{color:#333}
#tagging .set small{position:absolute;right:0;text-align:right;bottom:2px}
#tagging .set li{border-top:1px solid #ddd;padding:5px 15px 5px 15px}
