#hypertree .content{padding:0}
#infovis{
    background:radial-gradient(circle at 300px 300px, #ffc 0%, #fff 70%);
    position:relative;top:-20px;left:20px;height:650px;width:650px;margin:0;padding:0}
#vocabulary-list{padding:0}
#vocabulary-list li{list-style:none;width:15em;float:left;padding:0 1.5em 1em 0}
#vocabulary-list a{font-size:1.5em}

#messages{padding:0 30px;font-size:11px;font-weight:bold}
#messages li{list-style:none}

#main{float:left}
#main h1{padding:15px 30px}
#inner-details{float:right;padding:30px;z-index:1;min-height:90%;overflow:auto;border-left:1px solid #ddd}
#inner-details ul{margin:0;padding:0}
#inner-details li{list-style:none;margin:0;padding:0}
#inner-details form input{padding:3px;font-size:13px}
#inner-details form .title{margin-bottom:0}
#inner-details form .node_id{margin-top:0}
#inner-details form .node_id label{display:inline}
#inner-details form .node_id input{display:inline-block;width:135px;border:0;border-bottom:1px dashed #ddd;color:#999;font-size:.8em;background:none;border-radius:0}

#tagging #inner-details{position:static;height:auto;margin:0 auto}
#indicator{float:right}

form .buttons{text-align:right}
form label{display:block;text-align:left;font-size:10px;padding:2px}
form ul{padding:0}
form li{list-style:none;text-shadow:none}
#editicons{margin:.0;text-align:center;font-size:14px}
#editicons b{font-size:25px}
#editicons i{cursor:pointer;font-family:arial,sans-serif;font-style:normal;color:#d33;padding:1px 5px}
#editicons i:hover{color:#111}
#infovis .node{text-shadow:#fff 1px 1px 0;padding:.3em 0.6em;color:#333;border-radius:3px}
#infovis .vocabnode{color:#333}
#infovis .node:hover{background-color:rgba(255,255,255,.9);cursor:pointer;z-index:1000 !important}
#infovis .node-depth-0:hover,
#infovis .node-depth-0{font-size:1.5em;cursor:default;border-radius:5px}
#infovis .node-depth-1{opacity:.9;font-size:1.2em}
#infovis .node-depth-2{opacity:.7;font-size:1em}
#infovis .node,
#infovis .node-depth-0{background-color:rgba(255,255,255,.5);}

.drop-nav{position:absolute;z-index:200;top:0;left:500px;padding:10px 20px;color:gray}
.drop-nav b{cursor:pointer}
.drop-nav ul{list-style:none;display:none;padding:1em;border-radius:4px;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.3)}
.drop-nav li{padding-bottom:5px}
.drop-nav a{text-decoration:none}
.drop-nav a:hover{text-decoration:underline}

.new_concept input,
.new_concept select,
.edit_concept input,
.edit_concept select{max-width:300px;max-height:100px}

#inner-details,
#inner-details p input,
#id_description,
#id_query,
.dynamic-form{width:300px;position:relative}
#inner-details .set{width:310px}
.dynamic-form{border-top:2px solid #000}
#inner-details input[type="checkbox"]{width:auto}

#add_operator,
.test{font-weight:bold;font-size:14px;text-decoration:none}
#panel a{text-decoration:none}
#panel a:hover{text-decoration:underline}
#panel .indent{padding-left:22px;margin-top:0}
#inner-details .set{padding:10px 20px 10px 30px;position:relative;left:-30px}
.set li{border-top:1px solid #eee}
.set .delete-row{color:#ddd;font-size:17px}

#id_description{font-family:Arial, sans-serif;padding:2px 1px;height:60px;font-size:12px}
#inner-details li#synonyms{padding:10px 0 0 25px}

.has_query:before{content:'✓ '}
.try{font-size:12px}

#add_operator:hover,
.test:hover,
p:hover .add,
button i,
button b{color:#cfc}
button.delete i,
button.delete b{color:#fcc;position:relative;top:-1px}
#results{display:none}
.add-row{text-decoration:none}

#inner-details a{outline:0}
#inner-details form{margin-bottom:50px}

#excel{border-collapse:collapse}
#excel td,#excel th{padding:2px 5px;border:1px solid #ddd}
#excel th{background:#f3f3f3;border-color:#bbb;font-weight:normal}
#excel caption{padding:10px 0 5px 0}
#excel caption i{font-style:normal}
#excel thead b,tbody b{font-weight:normal}
#excel .p2,#excel .p3{display:none}
#excel caption .p2,
#excel tbody .p2{color:green}
#excel .p3{color:gray}
