<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600">
        <link rel="stylesheet" href="{{ base_url }}/css/screen.css?{{ version }}">
        <link rel="stylesheet" href="{{ base_url }}/css/vocabulary.css?{{ version }}">
        <link rel="stylesheet" href="{{ base_url }}/css/print.css?{{ version }}" media="print">
        <link rel="stylesheet" href="{{ base_url }}/uxfont/styles.css?{{ version }}">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
        {% block extrahead %}{% endblock %}
        {% block extrastyles %}{% endblock %}
        {% block extrascripts %}{% endblock %}
    </head>
    <body{% block body_id %}{% endblock %}>
    <div id="header">
        <ul class="nav">
            <li><a href="{{ base_url }}">Home</a>
            <li><a href="{{ base_url }}{% url 'listings' %}"
                title="Visual Taxonomy Editor for Controlled Vocabularies, Taxonomies and Thesauri">Vocabularies</a>
            <li><a href="{{ base_url }}{% url 'tag.views.about' %}" title="Contextual Tagging using Controlled Vocabularies">Tagging</a>
            <li><a href="{{ base_url }}{% url 'docs' %}" title="Visual Vocabulary Suite Documentation">Documentation</a>
            {% if user.is_staff %}
            <li><a href="{{ base_url }}/admin/">Admin</a>{% endif %}
            {% if user.is_anonymous %}
            <li><a class="sep" id="loginlink"
                href="{% url 'auth_login' %}{% if request.path != '/accounts/logout/' %}?next={{request.path}}{% endif %}">Login</a>
                <a href="{% url 'registration_register' %}">Register</a>
            {% else %}
            <li><a class="sep" href="{% url 'profile' %}">Your profile</a> 
                <a href="{% url 'auth_logout' %}">Logout</a>
            {% endif %}
        </ul>
        {% block search %}
            {% include 'vocabulary/search-input.html' %}
        {% endblock %}
    </div>
    {% include 'messages.html' %}
    <div class="content">
        {% block headline %}{% endblock %}
        {% block content_wrap %}
            {% block content %}{% endblock %}
        {% endblock %}
        <div class="clear"></div>
    </div>
    {% block sidebar %}{% endblock %}
    <div id="footer">
        {% include 'feedback/form.html' %}
        <p>&copy; Copyright Unilexicon&trade; {% now "Y" %}. All rights reserved.</p>
        {% include 'debug.html' %}
    </div>
    {% if not debug %}
        {% include 'analytics.html' %}
    {% endif %}
    </body>
</html>