{% extends 'base.html' %}
{% block title %}Unilexicon: taxonomy editor for controlled vocabularies, SKOS theasurus suite{% endblock %}
{% block extrahead %}
<meta name="description" content="Create and manage controlled vocabularies, than use your taxonomies to tag content.
Simple knowledge organization system (SKOS) thesaurus software for your organisation.">
<link rel="stylesheet" href="{{ base_url }}/css/home.css?{{ version }}" />
{% endblock %}
{% block header_class %} lead{% endblock %}
{% block headspace %}
<div class="headspace">
    <h1>Taxonomy editor suite</h1>
    <p>Unilexicon™ a visual editor and taxonomy manager for authoring controlled vocabularies with a content tagging extension.</p>
    <div id="editor">
        <h2>Visual taxonomy editor and management tools for
            controlled vocabularies and thesauri</h2>
        <ul>
        <li>use <a href="/vocabularies/unilexicon/">beautiful graphs</a>
            and predictive taxonomy search to explore and edit vocabularies
        <li>drag and drop concept ordering with
            <a href="/vocabularies/unilexicon/order">intuitive interface</a>
        <li>comprehend and manage relations in large taxonomies, even
            <a href="/vocabularies/chinese/"
                title="Chinese (Read: Yǔwén)">语文</a>
        </ul>
        <p><a class="btn" href="/vocabularies/">Explore vocabularies</a></p>
    </div>
</div>
{% endblock %}

{% block content %}
<p>Unilexicon is a visual online thesaurus server, classification and taxonomy management software coupled with a web-site tagging tool and record tagging system.
A taxonomy manager to extend your search tools for database powered websites, document and knowledge classification.
SAS and enterprise semantic metadata management and integration system.
<p>An information management software offering metadata repository and semantic search tools, data integration and records management tools. Simple knowledge organization system (SKOS) for your organisation.
<p>Unilexicon is open source, see the <a href="https://github.com/fmalina/unilex" target="_blank">source code</a>
or <a href="/docs">read the documentation</a>.
</div>
<div class="content clear">
    <h2>Case study</h2>
    <blockquote>
        <p>We publish the worlds most comprehensive port guide in book form and online.
        <p>Unilexicon has made a huge difference. Yesterday I transformed the data from<br>
        being categorised in 2/3 levels, to a 95% complete usable taxonomy over 10 levels.</p>
        <cite>Faergal Hogan <a href="https://www.portinfo.co.uk">Shipping Guides</a></cite>
    </blockquote>
    <p><a class="btn" href="/signup/">Register today</a></p>
</div>
<div class="content clear">
    <div id="tagging">
        <div id="demo">
            <div id="tab">Example site</div>
            <div id="url"><span>http://</span>example.org</div>
            <div id="tag">
                <div id="tip"></div>
                <div id="in1">
                    <iframe src="/tag/" frameborder="0" width="340" height="420"></iframe>
                </div>
            </div>
        </div>
        <div class="desc">
        <h2><a href="{{ base_url }}{% url 'about' %}">Tagging tool</a>
            for contextual tagging of resources using controlled vocabularies</h2>
        <ul>
        <li>use your taxonomies from Unilexicon repository to tag your content, tag resources, documents, items and records
        <li>integrated and yet content management system independent, tag websites or your own records
        <li>can be integrated for your organisation as a Chrome browser extension or directly into your CRM or CMS
        </ul>
        <p><a class="btn" href="/tag/about">Learn more</a></p>
        </div>
    </div>
{% endblock %}