{% extends 'base.html' %}
{% block title %}Your profile{% endblock %}
{% block content %}
    <h1>Your profile</h1>
    <div class="col1">
        <form method="post" action="{{ request.path }}">
            {{ form.as_p }}
            {% csrf_token %}
            <p><button type="submit">Save</button></p>
        </form>

        <p>
        <p><a href="{% url 'subscribe' %}"><b>Subscribe to PRO</b></a><br>
            use private vocabularies, access first class
            <a href="mailto:hi@unilexicon.com">technical support</a>,
            request a team authority multiuser setup for your organisation

        <ul class="list-unstyled">
            {% if user.subscription %}
                <li>subscription expiry: {{ user.subscription.expires }}
                <a href="/pro/receipts">Your receipts</a></li>
            {% endif %}
            <li><a href="{% url 'account_change_password' %}">Change password</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
        {% if user.authority_set.all %}
            <h3>Your authorities</h3>
            <ul class="list-unstyled">
                {% for a in user.authority_set.all %}
                <li><a href="{% url 'authority' a.code %}">{{ a.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="col2">
        <h2>Your vocabularies</h2>
        {% include 'vocabulary/ls.html' %}
        <div class="clear"></div>
        {% include 'vocabulary/add.html' %}
    </div>
{% endblock %}
