{% extends 'base.html' %}
{% block title %}Your profile{% endblock %}
{% block content %}
    <h1>Your profile</h1>
    <div class="col1">
        <form method="post" action="{{ request.path }}">
            {{ form.as_p }}
            {% csrf_token %}
            <p><button type="submit">Save</button></p>
        </form>
        <ul class="list-unstyled">
            <li><a href="{% url 'subscribe' %}">Subscribe to keep your private vocabularies</a><br>
                Your private vocabularies will not be deleted nor published.</li>
        {% include 'pay/nav.html' %}
        <li><a href="{% url 'password_change' %}">Change password</a></li>
        </ul>
        {% if user.authority_set.all %}
            <h3>Your Authorities</h3>
            <ul>
                {% for a in user.authority_set.all %}
                <li><a href="{% url 'authority' a.code %}">{{ a.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="col2">
        <h2>Your vocabularies</h2>
        {% include 'vocabulary/ls.html' %}
        <div class="clear"></div>
        {% include 'vocabulary/add.html' %}
    </div>
{% endblock %}
