{% extends "base.html" %}
{% block extrastyles %}
        <link rel="stylesheet" href="{{ base_url }}/assets/css/vocabulary.css" />
        <link rel="stylesheet" href="{{ base_url }}/assets/css/set.css" />
{% endblock %}
{% block extrascripts %}
    <!--[if IE]><script src="{{ base_url }}/assets/js/Jit/Extras/excanvas.js"></script><![endif]-->
    <script src="{{ base_url }}/assets/js/Jit/jit-yc.js"></script>
    {% if user.is_authenticated %}
    <script src="{{ base_url }}/assets/js/jquery.formset.js"></script>
    {% endif %}
    {% block extrascripts2 %}{% endblock %}
{% endblock %}
