<form method="post" action="{{request.path}}">
    {% csrf_token %}
    <p>Are you sure you wish to delete <b>'{{ concept.name }}'</b>?</p>
    {% with concept.get_descendants|length as c %} 
        {% if c %}
        <p><input type="checkbox" name="recursive" value="recursive" style="vertical-align: baseline">
            Also delete {{ c }} child term{{ c|pluralize }}.</p>
        {% endif %}
    {% endwith %}
    <p><button type="submit" class="delete" name="delete"><b>×</b> Delete</button>
        <a href="#cancel" class="cancel">cancel</a></p>
</form>


