{% include 'vocabulary/panel.html' %}

{% if user.is_authenticated %}
<form method="post" action="{{ request.path }}">
    {{ form.errors }}
    <p class="title">{{ form.name.label_tag }} {{ form.name }}</p>
    <p class="node_id">{{ form.node_id.label_tag }} {{ form.node_id }}</p>
    <p>{{ form.description.label_tag }} {{ form.description }}</p>
    <div><label>Related concepts</label></div>
    {% include "vocabulary/concept-set-formset.html" %}
    <p>{% csrf_token %} {{ formset.management_form }}
        <button type="submit">Save</button>
</form>
{% endif %}
