{% extends 'vocabulary/base.html' %}
{% block title %}{{vocabulary.title}}{% endblock %}
{% block extrahead %}
    {% if vocabulary.description %}<meta name="description" content="{{ vocabulary.description }}">{% endif %}
{% endblock %}
{% block extrascripts2 %}
    <script src="{{ base_url }}/assets/js/ac_formset.js?{{ version }}"></script>
    <script src="{{ base_url }}/assets/js/vocab_browse.js?{{ version }}"></script>
{% endblock %}
{% block body_id %} id="hypertree"{% endblock %}
{% block content %}
<div id="main">
{% if count %}
<div class="drop-nav">
    <span class="drop-nav__head">Switch view <i class="icon-caret"></i></span>
    <ul>
        <li>Editing vocabulary
        <li><a href="{% url 'order' vocabulary.node_id %}">Cards, order priorities</a>
        <li><a href="{% url 'ul'    vocabulary.node_id %}">Tree, nested list</a>
        <li><a href="{% url 'nav'   vocabulary.node_id %}">Tabs and dropdowns</a>
            <br><br>
        <li>Export:
            <a href="{% url 'json'  vocabulary.node_id %}" target="_blank">JSON</a> /
            <a href="{% url 'skos'  vocabulary.node_id %}">SKOS</a> /
            <a href="{% url 'csv'   vocabulary.node_id %}">CSV</a>
    </ul>
</div><!-- /switch view -->
{% endif %}

<div class="editor">
    <div id="infovis"></div><!-- /infovis -->
    <div class="aside">
        <h1>{{ vocabulary.title }} <small>
        {% if count == 0 %}
            <br>empty, use <b>+</b> to add a concept
        {% else %}
            {{ count }} concept{{ count|pluralize }}
        {% endif %}
        </small></h1>
        <div id="action"></div>
        <div id="editing"></div><!-- /editing -->
        {% if count > 2000 %}
            <p class="info">
                Only first 3 levels of taxonomies over 2k concepts large are shown.<br>
                Switch view to a more suitable display.
        {% endif %}
    </div><!-- /aside -->
</div><!-- /editor -->

</div><!-- /main -->
<div id="log"></div>
{% endblock %}
