{% extends 'vocabulary/base.html' %}
{% block title %}Visual Taxonomy Editor, Controlled Vocabularies - SKOS Editor{% endblock %}
{% block content %}
    <h1>Explore taxonomies</h1>
    <p>{% include 'vocabulary/add.html' %}
    {% include 'vocabulary/ls.html' %}
    <p>For licensing information of user contributed taxonomies, see source.<br>
        Default license of public taxonomies created on Unilexicon is
        <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a>.
{% endblock %}