{% extends 'vocabulary/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<h1>Professional subscription</h1>
<p>Unilexicon offers a free and open platform to manage public taxonomies
under the <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>
license. By contributing your vocabulary, you're
helping to build a public knowledge base that benefits everyone.

<p>However, I understand that some users require private taxonomies for
their work. If you're using a private vocabulary and would like to
access our advanced features, I encourage you to upgrade to our
professional subscription.
With a paid subscription, you'll have access
to exclusive features such as collaboration tools, fast technical support
and GDPR compliant privacy for your taxonomy data.

<p>By subscribing, not only will you have access to these exclusive
features, but you'll also be supporting the continued development of
Unilexicon. Your contribution will help me maintain and improve the
platform, ensuring that it remains a valuable resource for taxonomists
everywhere.

<p>Unlock the full potential of Unilexicon and take your
    taxonomy management to the next level.
<p><a href="/pro/subscribe" class="btn">Upgrade to professional membership now</a>
{% endblock %}