{% extends 'base.html' %}
{% load search_tags %}
{% block content %}
    {% if ls %}<h2>{{ count }} result{{ count|pluralize }} for "{{ q }}"</h2>{% endif %}
    <ul id="sr">
    {% for concept in ls %}
        <li>
        <h2><a href="{{ concept.get_absolute_url }}">{{ concept.name|highlight:q }}</a>
            {% if user.is_authenticated %}
                <small>{{ concept.node_id|highlight:q }}{% if concept.count %}, {{ concept.count }} use{{ concept.count|pluralize }}{% endif %}</small>
            {% endif %}</h2>
        <p>{% if concept.description %}{{ concept.description|highlight:q }}<br>{% endif %}
            {{ concept.backwards_path|highlight:q }}</p>
        </li>
    {% empty %}
        <h2>No results</h2>
    {% endfor %}
    </ul>
    {{ paging }}
{% endblock %}