{% extends 'vocabulary/base.html' %}
{% block title %}Upload your taxonomy {% if format == 'xls' %}as Excel (.xls) or CSV spreadsheet{% else %}SKOS file{% endif %} and start editing{% endblock %}
{% block extrahead %}
    <script src="{{ base_url }}/assets/js/vocab_upload.js"></script>
{% endblock %}
{% block content %}
<form class="upload" action="{{ request.path }}" method="post"
    enctype="multipart/form-data">
	<h2>Import your vocabulary from<br>
        {% if format == 'xls' %}Excel (.xls) or CSV spreadsheet
        {% elif format == 'md' %}markdown text file
        {% else %}SKOS file{% endif %}
        and start editing</h2>
    {% csrf_token %}

    {% if format == 'md' %}
    <p>For automated creation of taxonomies, you may consider the following ChatGPT prompt:
    <pre>Write a taxonomy for WATCHES in markdown nested unordered list with
concept names and descriptions separated by ::</pre>
    <p>Answer can look like this, save it to a .txt file and load here
    <pre>
- Watches
  * Analog Watches: Watches that display time using traditional clock hands
    that point to hour and minute markers.
  * Digital Watches: Watches that display time in numerical format, often with
    additional features like alarms and timers.
  * Smart Watches: Watches that connect to smartphones and offer a range of
    features like fitness tracking, messaging, and app integration.
    - Fitness Watches: Smart watches designed for fitness enthusiasts with
      features like heart rate monitoring, GPS tracking, and workout tracking.
    - Hybrid Watches: Smart watches that combine traditional watch design with
      smart features like notifications and activity tracking.
  * Luxury Watches: Watches that are often expensive and made with high-quality
    materials and precision craftsmanship.
    - Dress Watches: Luxury watches designed to be worn with formal attire.
    - Dive Watches: Luxury watches designed for underwater activities like
      scuba diving.
</pre>
    {% endif %}
    {% if format == 'xls' %}
    <p>Upload your taxonomy in any of the following formats:</p>
    <h3>Plain tree,
        <i class="p2">1st column can contain IDs.</i>
        <i class="p3">Parentage trails are ignored.</i>
        <i class="p4">"Description" column before the tree is supported.</i>
        <span class="p1">&hellip;</span></h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th class="p2"><b>A</b></th>
                <th><b class="p1">A</b><b class="p2">B</b></th>
                <th><b class="p1">B</b><b class="p2">C</b></th>
                <th><b class="p1">C</b><b class="p2">D</b></th>
                <th class="p4"><b>E</b></th>
            </tr>
        </thead>
        <tbody>
            <tr class="p4"><th>0</th><td class="p2">ID</td><td>Description</td><td class="p3">Tree</td><td></td><td></td></tr>
            <tr><th>  1</th><td class="p2">001</td>
              <td class="p4">Animals with hair and boobies</td>
              <td><b class="p1">Mammalia</b></td><td></td><td></td>
            </tr>
            <tr><th>  2</th><td class="p2">002</td>
              <td class="p4">Animals with hair and boobies that are kind of like cats and dogs</td>
              <td><b class="p3">Mammalia</b></td><td><b class="p1">Boreoeutheria</b></td><td></td>
            </tr>
            <tr><th>  3</th><td class="p2">003</td>
              <td class="p4">Animals with hair and boobies that are kind of like cats and dogs, but not the same</td>
              <td><b class="p3">Mammalia</b></td><td><b class="p3">Boreoeutheria</b></td><td>Laurasiatheria</td>
            </tr>
            <tr><th>  4</th><td class="p2">004</td>
              <td class="p4">Animals with hair and boobies that are kind of like cats and dogs, but different again</td>
              <td><b class="p3">Mammalia</b></td><td><b class="p3">Boreoeutheria</b></td><td>Euarchontoglires</td>
            </tr>
            <tr><th>  5</th><td class="p2">005</td>
              <td class="p4">Animals with hair and boobies that are kind of like cats and dogs, but not really</td>
              <td><b class="p3">Mammalia</b></td><td><b class="p3">Boreoeutheria</b></td><td>Meridiungulata</td>
            </tr>
            <tr><th>  6</th><td class="p2">006</td>
              <td class="p4">Animals with hair and no boobies that roll up like balls</td>
              <td><b class="p3">Mammalia</b></td><td>Xenarthra</td><td></td>
            </tr>
            <tr><th>  7</th><td class="p2">007</td>
              <td class="p4">Animals with hair and long noses that like to dig</td>
              <td><b class="p3">Mammalia</b></td><td>Afrotheria</td><td></td>
            </tr>
            <tr><th>  8</th><td class="p2">008</td>
              <td class="p4">Animals that lay eggs and have scales</td>
              <td><b class="p1">Reptilia</b></td><td></td><td></td>
            </tr>
            <tr><th>  9</th><td class="p2">009</td>
              <td class="p4">Animals that lay eggs and have shells, like a helmet</td>
              <td><b class="p3">Reptilia</b></td><td><b class="p1">Testudinata</b></td><td></td>
            </tr>
            <tr><th> 10</th><td class="p2">010</td>
              <td class="p4">Animals that lay eggs and have shells, like a helmet, but different</td>
              <td><b class="p3">Reptilia</b></td><td><b class="p3">Testudinata</b></td><td><b class="p1">Cryptodira</b></td>
            </tr>
            <tr><th>  …</th><td class="p2">  …</td><td>…</td><td></td><td></td><td class="p4"></td></tr>
        </tbody>
    </table>
    {% endif %}
    {% if format == 'skos' %}
    <p>Works for SKOS files produced with Unilexicon and subset of Lexaurus export.</p>
    <p>Please leave us feedback below to support processing of your SKOS files.</p>
    <pre>
&lt;rdf:RDF
  xmlns:rdf=&quot;http://www.w3.org ... rdf-syntax-ns#&quot;
  xmlns:skos=&quot;http://www.w3.org/2004/02/skos/core#&quot;&gt;
  
  &lt;skos:Concept rdf:about=&quot;...#mammals&quot;&gt;
    &lt;skos:prefLabel&gt;mammals&lt;/skos:prefLabel&gt;
    &lt;skos:broader rdf:resource=&quot;...#animals&quot;/&gt;
  &lt;/skos:Concept&gt;

  &lt;skos:Concept rdf:about=&quot;..#animals&quot;&gt;
    &lt;skos:prefLabel&gt;animals&lt;/skos:prefLabel&gt;
    &lt;skos:narrower rdf:resource=&quot;...#mammals&quot;/&gt;
  &lt;/skos:Concept&gt;

&lt;/rdf:RDF&gt;
    </pre>
    {% endif %}
    {% if request.user.is_authenticated %}
        {{ form.as_p }}
        <p><button type="submit" disabled="disabled">Upload</button></p>
    {% else %}
        <p><a href="{% url 'account_signup' %}" class="btn"><i class="icon-edit"></i> Registration required&hellip;</a></p>
    {% endif %}
</form>
{% endblock %}