{% extends 'vocabulary/base.html' %}
{% block title %}Upload your taxonomy {% if format == 'xls' %}as Excel (.xls) or CSV spreadsheet{% else %}SKOS file{% endif %} and start editing{% endblock %}
{% block extrahead %}
    <script>
    $(function(){
    	$("input[name='file']").change(function (){
    	    button = $(this).parents('form:first').find('button');
    		if($(this).val()!=''){
    			button.removeAttr('disabled');
    		} else {
    		    button.attr('disabled', 'disabled');
    		}
    	});
        
        // Excel table animation intro
        $('.p2' ).delay(4000).fadeIn({
            start: function(){
                $('thead .p1, caption .p1').hide();
            }
        });
        $('.p3').delay(8000).fadeIn();
    });
    </script>
    
    <style>
    .p2,.p3{display:none}
    .p3{color:gray}
    .p2{color:green}
    thead .p2{color:inherit}
    h3{margin-bottom:.3em;font-weight:300}
    h3 i{font-style:normal}
    </style>
{% endblock %}
{% block content %}
<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
	<h2>Import your vocabulary from<br>
        {% if format == 'xls' %}Excel (.xls) or CSV spreadsheet{% else %}SKOS file{% endif %}
        and start editing</h2>
    {% csrf_token %}
    {% if format == 'xls' %}
    <p>Upload your taxonomy in any of the following formats:</p>
    <h3>Plain tree,
        <i class="p2">1st column can contain IDs.</i>
        <i class="p3">Parentage trails are ignored.</i>
        <span class="p1">&hellip;</span></h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th class="p2"><b>A</b></th>
                <th><b class="p1">A</b><b class="p2">B</b></th>
                <th><b class="p1">B</b><b class="p2">C</b></th>
                <th><b class="p1">C</b><b class="p2">D</b></th>
                <th><b class="p1">D</b><b class="p2">E</b></th>
            </tr>
        </thead>
        <tbody>
            <tr><th>  1</th><td class="p2">001</td><td><b class="p1">Mammalia</b></td><td></td><td></td><td></td></tr>
            <tr><th>  2</th><td class="p2">002</td><td><b class="p3">Mammalia</b></td><td><b class="p1">Boreoeutheria</b></td><td></td><td></td></tr>
            <tr><th>  3</th><td class="p2">003</td><td><b class="p3">Mammalia</b></td><td><b class="p3">Boreoeutheria</b></td><td>Laurasiatheria</td><td></td></tr>
            <tr><th>  4</th><td class="p2">004</td><td><b class="p3">Mammalia</b></td><td><b class="p3">Boreoeutheria</b></td><td>Euarchontoglires</td><td></td></tr>
            <tr><th>  5</th><td class="p2">005</td><td><b class="p3">Mammalia</b></td><td><b class="p3">Boreoeutheria</b></td><td>Meridiungulata</td><td></td></tr>
            <tr><th>  6</th><td class="p2">006</td><td><b class="p3">Mammalia</b></td><td>Xenarthra</td><td></td><td></td></tr>
            <tr><th>  7</th><td class="p2">007</td><td><b class="p3">Mammalia</b></td><td>Afrotheria</td><td></td><td></td></tr>
            <tr><th>  8</th><td class="p2">008</td><td><b class="p1">Reptilia</b></td><td></td><td></td><td></td></tr>
            <tr><th>  9</th><td class="p2">009</td><td><b class="p3">Reptilia</b></td><td><b class="p1">Testudinata</b></td><td></td><td></td></tr>
            <tr><th> 10</th><td class="p2">010</td><td><b class="p3">Reptilia</b></td><td><b class="p3">Testudinata</b></td><td><b class="p1">Cryptodira</b></td><td></td></tr>
            <tr><th> 11</th><td class="p2">011</td><td><b class="p3">Reptilia</b></td><td><b class="p3">Testudinata</b></td><td><b class="p3">Cryptodira</b></td><td>Eucryptodira</td></tr>
            <tr><th> 12</th><td class="p2">012</td><td><b class="p3">Reptilia</b></td><td><b class="p3">Testudinata</b></td><td><b class="p3">Cryptodira</b></td><td>Paracryptodira</td></tr>
            <tr><th>  …</th><td class="p2">  …</td><td>…</td><td></td><td></td><td></td></tr>
        </tbody>
    </table>
    {% endif %}
    {% if format == 'skos' %}
    <p>Works for SKOS files produced with Unilexicon and subset of Lexaurus export.</p>
    <p>Please leave us feedback below to support processing of your SKOS files.</p>
    <pre>
&lt;rdf:RDF
  xmlns:rdf=&quot;http://www.w3.org ... rdf-syntax-ns#&quot;
  xmlns:skos=&quot;http://www.w3.org/2004/02/skos/core#&quot;&gt;
  
  &lt;skos:Concept rdf:about=&quot;...#mammals&quot;&gt;
    &lt;skos:prefLabel&gt;mammals&lt;/skos:prefLabel&gt;
    &lt;skos:broader rdf:resource=&quot;...#animals&quot;/&gt;
  &lt;/skos:Concept&gt;

  &lt;skos:Concept rdf:about=&quot;..#animals&quot;&gt;
    &lt;skos:prefLabel&gt;animals&lt;/skos:prefLabel&gt;
    &lt;skos:narrower rdf:resource=&quot;...#mammals&quot;/&gt;
  &lt;/skos:Concept&gt;

&lt;/rdf:RDF&gt;
    </pre>
    {% endif %}
    {% if request.user.is_authenticated %}
        {{ form.as_p }}
        <p><button type="submit" disabled="disabled">Upload</button></p>
    {% else %}
        <p><a href="{% url 'account_signup' %}" class="btn"><i class="icon-edit"></i> Registration required&hellip;</a></p>
    {% endif %}
</form>
{% endblock %}