{% extends 'vocabulary/base.html' %}
{% load concept_hierarchy %}
{% block title %}{{ vocabulary.title }}{% endblock %}

{% block content %}
<style>
.desc:before{content:'- '}
.nest,.nest .L0in > ul{padding:0}
.nest .L1in{padding-top:1em}
.nest li{list-style:none}
.nest li a.L1{font-weight:bold}
.nest li a{text-decoration:none}
.nest li a:hover{text-decoration:underline}
</style>
	<div id="views"><a href="./">&laquo; back to editing</a>
		&middot; preview nested list</div>
	<h2>{{ vocabulary.title }}</h2>
	<ul class="nest">
	{% render_concept_hierarchy concept 0 %}
	</ul>
{% endblock %}
