{% extends 'vocabulary/base.html' %}
{% load concept_hierarchy %}
{% block title %}{{ vocabulary.title }}{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/meeting.css?{{ version }}" />
{% endblock %}

{% block extrascripts %}
	<script src="{{ base_url }}/assets/js/jquery-ui.min.js"></script>
	<script src="{{ base_url }}/assets/js/isotope.pkgd.min.js"></script>
	<script src="{{ base_url }}/assets/js/vocab_meeting.js"></script>
{% endblock %}

{% block content %}
	<div id="views"><a href="./">&laquo; back to editing</a> &middot;
        drag and drop concepts, order will be saved automatically</div>
	<h2>{{ vocabulary.title }}</h2>
	<ul class="nav sort isotope"
		data-submit="{% url 'ordering' vocabulary.node_id %}">
	{% render_concept_hierarchy concept 0 %}
	</ul>
	<form>{% csrf_token %}</form>
{% endblock %}
