{% include 'vocabulary/panel.html' %}

{% if user.is_authenticated %}
<form method="post" action="{{ request.path }}">
    {% for field in form %}
    <p class="{{ field.name }}">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </p>
    {% endfor %}
    <div><label>Predicates, relation types</label></div>
    {% include "vocabulary/concept-set-formset.html" %}
    <p>{% csrf_token %} {{ formset.management_form }}
        <button type="submit">Save</button>
    {% if vocabulary.authority %}
        <p><small>Managed by
            <a href="{% url 'authority' vocabulary.authority.code %}">
            {{ vocabulary.authority.name }}</a></small></p>
    {% endif %}
</form>
{% endif %}
