{% include 'vocabulary/panel.html' %}

{% if user.is_authenticated %}
<form action="{{ request.path }}" method="post">
    {% for field in form %}
    <p class="{{ field.name }}">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </p>
    {% endfor %}
    {% if vocabulary.authority %}
        <p><small>Managed by
            <a href="{% url 'authority' vocabulary.authority.code %}">
                {{ vocabulary.authority.name }}</a></small></p>
    {% endif %}
    {% csrf_token %}
    <p><button type="submit">Save</button></p>
</form>
{% endif %}