.ac_results{border:1px solid #ddd;border-radius:2px;background:#eee;z-index:1;top:-2px;box-shadow:0 0 20px rgba(0,0,0,.2)}
.ac_results ul{max-height:auto !important;list-style:none;padding:0;margin:0}
.ac_results li{margin:0;padding:3px 8px;cursor:default;display:block;font-size:small}
.ac_results p{margin:0;padding:0}
.ac_results a{text-decoration:none;color:#333}
.ac_results small{color:#ccc}
.ac_loading{background-position:98% 50% !important;background-repeat:no-repeat !important}
.ac_loading{background-image:url(/assets/img/indicator.gif) !important}
.ac_odd{background-color:#fff}
.ac_over{background-color:#D7E4F4}
.hide,.ac_results .add,.ac_results .go{display:none}
.link{cursor:pointer}
