body{font-family:Helvetica,sans-serif;
    background:white;color:#222;margin:0;padding:0}

.logo{font-size:14px;letter-spacing:4px;text-transform:uppercase}

a{color:RoyalBlue}
a:hover{color:DodgerBlue}

button, input[type="submit"], a.btn{color:#fff;border-radius:4px;background:RoyalBlue}
button:hover, input[type="submit"]:hover, a.btn:hover{background:DodgerBlue}
