@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400|Open+Sans:300,400,700&display=swap&subset=latin-ext');

body{font-family:'Open Sans',sans-serif;
    background:white;color:#333;margin:0;padding:0}

.logo{font-size:14px;letter-spacing:4px;text-transform:uppercase}
nav{font-family:'Montserrat',sans-serif}

a{color:#3E92CC}
a:hover{color:#005089}

button, input[type="submit"], a.btn{color:#fff;border-radius:4px;background:#005089}
button:hover, input[type="submit"]:hover, a.btn:hover{background:#3E92CC}
