.content p{max-width:1000px}
.center{text-align:center}
#demo{
    width:500px;
    height:510px;
    float:left;
    box-shadow:0 0 48px rgba(0,0,0,.1);
    margin-bottom:20px;
    position:relative;
    left:-70px;
    border:1px solid #eee;
    border-radius:4px;
    background:url(/assets/img/chrome.png) no-repeat;
}
#tab,#url,#tag,#tip{position:absolute}
#tag,#tip{background:#fff}
#tab{
    top:18px;left:107px;
    font:12px sans-serif;
}
#url{
    top:45px;left:120px;
    font:15px sans-serif;
}
#url span{color:gray}
#tag{
    top:68px;left:120px;
    width:340px;
    padding:10px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    border:1px solid #ccc;
    border-radius:4px;
}
#tip{
    top:-8px;right:20px;
    z-index:1;
    width:16px;height:16px;
    -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);
}
.lead{
    background:linear-gradient(#001049, #005089) #005089;
    background-size: cover;
    color: white;
}
.lead ::placeholder{color:rgba(255,255,255,.7)}
#tagging,.lead{
    max-width:1150px;
}
.headspace h1{
    text-shadow:0 0 5px #2C2B30;
}
.headspace ul,
.headspace p,
.headspace h2{
    text-shadow:0 0 2px #2C2B30;
    font-size:larger
}
.headspace a{color:white}
.headspace{padding:5em 0}
