@import url('/assets/css/base.css');

a.badge:hover{color:white;text-decoration:none}
ul,li{margin:0;padding:0;list-style:none}
h1,h2{font-weight:normal}
h1{font-size:2rem;margin:.5em 0;max-width:22em;font-weight:300}
h1 small, h2 small{color:gray;font-weight:normal}
h1 small a{font-size:1.2em;font-weight:bold}
h3{font-size:1rem}
hr{margin:20px 0;border:0;border-bottom:1px solid gainsboro}

.breadcrumbs{color:lightgray;margin-top:0}
.breadcrumbs a,
.breadcrumbs span{padding:0 .5ex}
.breadcrumbs a:first-child{padding-left:0}
.breadcrumbs .active{color:gray}

.header,.content,.footer{padding:1em 3em}
.header .logo{padding:.3em 1em .5em 0;float:left}
.header .logo span{padding:0 .4em;color:#555;letter-spacing:0}
a{text-decoration:none}

.footer{clear:both}
.searchbox{width:200px;font-size:14px;background:ivory;padding:4px 10px;
    border:1px solid lightgray;border-radius:4px;opacity:.8}
.searchbox:focus{opacity:1;outline:0}

.badge{border-radius:.5rem;background:#555;color:white;
    font-size:.85rem;padding:.2rem .4rem;vertical-align:middle;
    position:relative;top:-2px;font-weight:normal}
.ls li{padding-bottom:.5em}
.ls a:visited{color:purple}
.cols{margin:0;list-style-type:none;
      column-count:2;column-rule:1px solid #ddd;column-gap:4em}
.clear{clear:both}
.left-padded{float:left;margin-right:1em}

dt,dd{display:block;float:left;font-size:.9rem}
dt{display:block;width:12.2em;color:#555;
    clear:left;text-align:right}
dt:after{content:':'}
dt,dd{padding:.4em 0;border-top:1px solid #eee}
dt:first-child,dt:first-child + dd{border:0}
dd{display:block;max-width:calc(100% - 13em);margin-left:0;padding-left:1ex}
dd li{margin-left:2em;list-style:disc}
dl::after{content:'';clear:both;display:table}

.pagination{display:inline-block;color:#999;margin:25px 0;border:1px solid #ddd;
    border-radius:5px;box-shadow:0 1px 2px #eee;font-size:.9rem}
.pagination a{text-decoration:none}
.pagination a,
.pagination span{display:inline-block;padding:6px 12px}
.pagination .last{border-right:0}
.pagination .next{border-right:0;border-left:1px solid #ddd}
.pagination a:hover,.pagination a:active,
.pagination .active{background:#eee;text-decoration:none}

.a-z{margin-top:0}
.btn{padding:.5rem 2rem;margin-bottom:1rem}
.notices{font-size:smaller;padding:.5em 1em;background:ivory}

/* homepage */
section{max-width:768px;padding-bottom:2rem}

.flex-grid{display:flex;margin:0 -1em}
.flex-grid section{flex:1;padding:0 1em}

.section{page-break-inside:avoid}
.section ul{padding-top:1rem}
.section li{padding-bottom:1rem}


@media(max-width:768px){
    .header,.content,.footer{padding:1em}
    .content{margin-left:0}
	.cols{column-count:2}
	.flex-grid{display:block;margin:0}
    .flex-grid section{padding:0}
}
@media(max-width:480px){
    .header{text-align:center}
    .header .logo{float:none}
    .header,.content,.footer{padding:12px}
    .cols{column-count:1}
}
