.mega .desc{display:none}

.mega .L0.parent{display:block;margin-bottom:1em}
.mega .L0in{list-style:none}
.mega .L0in ul{margin:0;padding:0}
.mega,
.mega a.L1,
.mega .L2-wrap{border:1px solid #aaa}
.mega{background:#eee;font-size:.8rem;clear:both;position:relative;
           margin:2em 0 20em 0;padding:1em 1em 0 1em;border-radius:2px}
.mega a{text-decoration:none}
.mega a:hover{text-decoration:underline}
.mega a.L1{padding:.5em 1em;border-radius:2px 2px 0 0;background:#fff}
.mega li:hover .L1{border-bottom-color:#fff}
.mega .L2{padding:.5em 0;font-weight:bold;display:block}
.mega .L3{display:block;padding:.2em 0;margin:0}
.mega .L3 *{position:static !important}
.mega a.L1{display:block;padding:8px 12px;border-bottom:0}
.mega .L1in{list-style:none;display:inline-block;position:relative}
.mega .L1in:hover{z-index:3}
.mega .L1in:hover a.L1{position:relative;z-index:4;border-bottom-color:#fff}
.mega .L2-wrap{position:absolute;top:1.9rem;border-radius:2px;z-index:3;display:none;
	                    background:#fff;padding:1rem;margin:0}
.mega .L2-wrap .parent a{margin-bottom:0}
.mega .L2in{display:inline-block}
.mega .L3-wrap{list-style:none;padding:0 0 1em 0;font-weight:normal}
.mega .L1in:hover .L2-wrap{display:block !important}
.mega .L2in{width:14em;vertical-align:top;margin-right:1em}
.mega .L3in li{list-style:none}
.mega .L3in ul{padding-left:2em}
