@import url('/assets/css/autocomplete.css');
@import url('/assets/css/base.css');

h1{font-size:3em;margin:0;padding:.2em 0 0 0;font-weight:300}
.content h1,h2{font-weight:300}
fieldset{border:0;padding:0}
dfn{border-bottom:1px dotted #ddd;cursor:help;font-style:normal}
.clear{clear:both}
.text-muted{color:silver}
pre{color:green}
.hide{display:none}
.nowrap{white-space:nowrap}
.external:after{font-family:"uxfont";content:" a";font-size:11px;color:#555}

.header,.footer,.content{padding:1em}
#messages{padding:0 1em}
#messages li{list-style:none}
#messages .success{color:green}

.content{color:#333;position:relative}
.nav{font-size:1.1em;padding:0}
.nav{list-style:none;margin:0}
.nav ul{list-style:none}
.nav a{text-decoration:none}

.header a.logo{color:#EAA000;padding-right:1.5rem;text-decoration:none;font-weight:200}
.header .nav{display:block;padding:0 1.5em 0 0;float:left;font-family:'Montserrat',sans-serif}
.header .nav .sep{color:#ddd;font-size:.9em}
.header .nav .sep,
.header .nav li,
.header .nav a{display:inline-block;font-size:14px}
.header .nav a{text-transform:uppercase;padding:.5em 1em .5em 0}
.header .nav li:last-child a{padding-right:0}

form ul{margin:0;padding:10px 0}
form ul li{list-style:none;padding:5px 0}
form label{display:block;text-transform:uppercase;font-size:10px;color:#999}
input,textarea{
	display:block;width:100%;box-sizing:border-box;
	border:1px solid #ddd;border-radius:2px;background:#ffe}
input,textarea,.login-or{max-width:350px}
form input{padding:.2rem .5rem}
form input, button{font-size:1rem}
form input[type="file"]{border:0;font-size:inherit;background:transparent}

.login-or{text-align:center;border-top:1px solid #ddd;
    margin:2em 0 .5em 0}
.login-or span{position:relative;top:-.6em;
    padding:0 .5em;color:#aaa;background:#fff}

button,input[type="submit"],.btn{
    text-decoration:none;display:inline-block;padding:.5em 1em;
    cursor:pointer;border:0;margin-top:1em}
.btn-block{display:block;width:100%}
.btn img {vertical-align:middle}
.btn-links{display:block;padding:1em}

.call{padding:1em 1.5em;font-size:1.5em}
.call small{font-size:.7em}

hr{color:#ddd;clear:both}

table{border-collapse:collapse}
td,th{padding:2px 5px;border:1px solid #ddd}
th{background:#f3f3f3;border-color:#bbb;font-weight:normal}
thead b,tbody b{font-weight:normal}

.details{font-size:10px;color:#666;float:right;padding:2px 0 0 10px}

div.paginator{margin:1em 0}
div.paginator a,
div.paginator span{padding:.5em 1em;margin-right:.2em;border-radius:4px;border:1px solid #ddd}
div.paginator a{text-decoration:none}
div.paginator span{color:gray}

.inline{padding-left:0}
.inline li{display:inline-block;list-style:none;padding:0 1em 1em 0}
.list-unstyled{list-style:none;padding:0}

.search{position:relative;max-width:350px}
.search button,
.search input{padding:7px}
.search input{display:block;background:rgba(255,255,255,.5);border-radius:4px;border:1px solid #bbb;font-size:13px}
.search input:active,
.search input:focus{outline:none;box-shadow:0 0 3px #23A4FF}
.search button{background:none;border:0;margin:0;padding:6px;height:24px;position:absolute;bottom:6px;right:3px;outline:0}
.search button i{color:#333;text-shadow:none;font-size:14px}
.search button::-moz-focus-inner{border:0;padding:0}

#sr{margin:0;padding:0}
#sr li{list-style:none;padding:0 0 1.5em 0}
#sr h2{font-weight:normal;font-size:16px;margin:0}
#sr h2 small{font-size:10px;color:#ccc}
#sr p{padding:0;margin:0}
#sr{width:600px}

#plans{max-width:380px}
#plans button{font-size:1.2rem}
.cc-fields input{display:inline-block;width:auto;min-width:auto}

.feedback .placeholder{height:3.2em;overflow:hidden;color:gray}
#feedback_status{padding:0 10px;font-weight:bold;color:green}
#feedback_status,#feedback_submit{display:none}
.feedback{clear:both;text-align:left}
.feedback h3{margin:0;padding:0}
.feedback label{font-weight:normal;display:block;padding:5px 0}
.feedback textarea{margin:5px 0}
.footer .feedback textarea,
.footer .feedback input{padding:3px;background:#fff}
.footer .feedback button{margin:.5em 0 0 0}
.footer #feedback_optional label{display:inline-block;padding-right:5px;text-transform:none}
.footer #feedback_submit{float:none;margin-top:0;width:auto}
.footer #queries{color:#ccc;margin-top:300px}

@media screen and (min-width:640px){
	.header,.footer,#messages{padding:1em 3em}
	.content{padding:3em}
	.col1,.col2{width:45%;max-width:500px;float:left;padding-right:3%}
	.btn-links{display:inline-block}
	.search{width:350px;float:left}
	.search input{max-width:none}
	.feedback,.feedback textarea{width:560px;max-width:none}
	.feedback .placeholder{height:1.8em}
	.feedback input{width:200px;display:inline}
	#feedback_optional{float:right;margin-top:.5em}
}
@media screen and (max-width:640px){
	h1{font-size:2em}
	.header .nav{float:none}
	.header .nav li{padding-top:0}
	#tagging #demo{float:none;display:none}
	table,pre{overflow-x:auto;display:block}
}
