#hypertree .content{padding:0}
#infovis-canvaswidget{background:radial-gradient(circle at 50vh 50vh, #ffc 0%, #fff 70%)}
#main h1{font-size:2em;line-height:.8em}
#main h1 small{font-size:.5em}

.vocab-list,
.vocab-list ul{padding:0}
.vocab-list li{list-style:none;padding:0 0 1em 0;margin:0}

.editor{display:flex}
.workspace{order:1}
.aside{order:2;min-width:320px;width:320px;
    box-sizing:border-box;padding:10px;
    background:#f3f3f3;border-radius:3px 0 0 3px}
.aside .info{color:green;display:block;position:relative;z-index:1}

.aside ul{margin:0;padding:0}
.aside li{list-style:none;margin:0;padding:0}
.aside form p{margin-top:0.5em}
.aside form .title{margin-bottom:0}
.aside form .node_id{margin-top:0}
.aside form .node_id label{display:inline}
.aside form .node_id input{display:inline-block;width:128px;border:0;
	border-bottom:1px dashed #ddd;color:#999;font-size:.8em;background:none;border-radius:0}

#tagging #editing{position:static;height:auto;margin:0 auto}
#indicator{float:right}

form .buttons{text-align:right}
form label{text-align:left;font-size:10px;padding:2px}
form ul{padding:0}
form li{list-style:none;text-shadow:none}
#editicons{margin:.0;text-align:center;font-size:14px}
#editicons b{font-size:25px}
#editicons i{cursor:pointer;font-family:arial,sans-serif;font-style:normal;color:#d33;padding:1px 5px}
#editicons i:hover{color:#111}
#infovis .node{text-shadow:#fff 1px 1px 0;padding:.3em 0.6em;color:#333;border-radius:3px}
#infovis .vocabnode{color:#333}
#infovis .node:hover{background-color:rgba(255,255,255,.9);cursor:pointer;z-index:1000 !important}
#infovis .node-depth-0:hover,
#infovis .node-depth-0{font-size:1.5em;cursor:default;border-radius:5px}
#infovis .node-depth-1{opacity:.9;font-size:1.2em}
#infovis .node-depth-2{opacity:.7;font-size:1em}
#infovis .node,
#infovis .node-depth-0{background-color:rgba(255,255,255,.5);}

.drop-nav{position:absolute;z-index:999;top:0;color:gray;border-radius:10px}
.drop-nav__head{cursor:pointer;font-size:smaller}
.drop-nav__head .icon-caret{position:relative;top:2px}
.drop-nav ul{list-style:none;display:none;padding:1em;border-radius:4px;
    background:#fff;box-shadow:0 0 20px rgba(0,0,0,.3)}
.drop-nav li{padding-bottom:5px}
.drop-nav a{text-decoration:none}
.drop-nav a:hover{text-decoration:underline}

.aside .set{padding:10px 20px 10px 30px;position:relative;left:-30px}
.aside .set,
.dynamic-form{width:100%}
.dynamic-form{border-top:2px solid #000}

#add_operator,
.test{font-weight:bold;font-size:14px;text-decoration:none}
#panel{font-size:.85rem}
#panel a{text-decoration:none}
#panel a:hover{text-decoration:underline}
#panel .indent{padding-left:22px;margin-top:0}

.set li{border-top:1px solid #eee}
.set .delete-row{color:#ddd;font-size:17px}

#id_description{min-height:100px}

.has_query:before{content:'✓ '}

#add_operator:hover,
.test:hover,
p:hover .add,
button i,
button b{color:#cfc}
button.delete i,
button.delete b{color:#fcc;position:relative;top:-1px}
#results{display:none}
.add-row{text-decoration:none;font-size:small}

@media screen and (min-width:800px){
	.aside{padding:20px}
	.vocab-list{column-count:3;column-gap:2rem}
	.vocab-list li{break-inside:avoid-column}
}

/* hide unordered list in hypertree and show in simple views */
#list.tree{display:none}
#list.card,
#list.list,
#list.tabs{display:block}

/* hide aside and infovis in simple views */
#infovis-canvaswidget{display:none}
.aside{display:none}
.workspace{width:100vw}

/* show in hypertree view */
.treeview #infovis-canvaswidget{display:block}
.treeview .aside{display:block}
.treeview .workspace{
    min-height:calc(100vh - 70px);
    width:calc(100vw - 320px);
    min-width:600px}

.L0.parent{display:block;color:inherit;font-size:1.5em;padding-bottom:.5em;text-decoration:underline}
.L0.parent:hover{color:inherit}

/* nested ul */
.list ul .desc:before{content:'- '}
.list,.list .L0in > ul{padding:0}
.list .L1in{padding-top:1em}
.list li{list-style:none}
.list li a.L1{font-weight:bold}
.list li a{text-decoration:none}
.list li a:hover{text-decoration:underline}

/* tabs and dropdowns */
.tabs .desc{display:none}
.tabs .L0in{list-style:none}
.tabs .L0in ul{margin:0;padding:0}
.tabs a.L1,
.tabs .L2-wrap{border:1px solid #aaa}
.tabs{border-bottom:1px solid #aaa}
.tabs{background:#eee;font-size:.8rem;clear:both;position:relative;
    margin:2em 0 20em 0;border-radius:2px}
.tabs a{text-decoration:none}
.tabs a:hover{text-decoration:underline}
.tabs a.L1{padding:.5em 1em;border-radius:2px 2px 0 0;margin:0 2px 0 0;background:#fff}
.tabs li:hover .L1{border-bottom-color:#fff}
.tabs .L2{padding:.5em 0;font-weight:bold;display:block}
.tabs .L3{display:block;padding:.2em 0;margin:0}
.tabs .L3 *{position:static !important}
.tabs a.L1{display:block;padding:8px 12px;border-bottom:0}
.tabs .L1in{list-style:none;display:inline-block;position:relative}
.tabs .L1in:hover{z-index:3}
.tabs .L1in:hover a.L1{position:relative;z-index:4;border-bottom-color:#fff}
.tabs ul.L2-wrap{position:absolute;top:1.9rem;border-radius:2px;z-index:3;display:none;
	background:#fff;padding:1rem;margin:0}
.tabs .L2-wrap .parent a{margin-bottom:0}
.tabs .L2in{display:inline-block}
.tabs .L3-wrap{list-style:none;padding:0 0 1em 0;font-weight:normal}
.tabs .L1in:hover .L2-wrap{display:block !important}
.tabs .L2in{width:14em;vertical-align:top;margin-right:1em}
.tabs .L3in li{list-style:none}
.tabs .L3in ul{padding-left:2em}

/* masonry drag and drop ordering */
.card a:hover{color:#fff}
.card{list-style:none;margin:0;padding:0;position:relative}
.card ul{list-style:none}
.card a{text-decoration:none}
.card .desc{display:none}
.card .L0in > ul{padding:0}
.card .L1,
.card .L2{border-radius:5px;border-left-width:1px;border-top-width:1px;color:#fff;text-shadow:#000 1px 1px;display:block}
.card .L1{background:#005089;padding:.5em 1em;margin:0 1em 1em 0;font-size:1.5em}
.card .L2{background:#007DD5;padding:.3em 1em;margin:0 0   1em 0;font-size:1.25em}
.card .L3{border-bottom:1px solid #666;color:#333 !important;display:block;padding:.2em .1em;margin:0;font-size:.9em}
.card .L1.parent,
.card .L2.parent{border-radius:5px 5px 0 0;margin-bottom:0}
.card .placeholder{border:1px dashed #ccc;background:#eee;opacity:.3;margin-bottom:1em}
.card .L3-wrap .placeholder{margin:0}
.card .L1in{position:absolute}
.card .L2-wrap,
.card .L3-wrap{border-radius:0 0 5px 5px;border:2px solid #666;border-left-width:1px;border-top:0}
.card .L2-wrap{background:#EFF8FF;padding:1.25em;margin:0 1.5em 1.5em 0}
.card .L3-wrap{background:#fff;padding:1em 1.25em;margin:0 0 1em 0}
.card .L2-wrap .L2in:last-child *{margin-bottom:0}
.card .L3-wrap li:last-child a{border:0}
.card .L3in a,
.card .L3in a:hover{color:inherit;font-size:smaller}
.card .L3in ul{padding-left:2em}
.card ul ul a{cursor:grab}
.card ul ul a:active{cursor:grabbing}
.card a.L1{cursor:not-allowed}
.horizontal .card .L1-wrap{display:flex;flex-wrap:nowrap}
.horizontal .card .L1in{position:static;width:17em}
#horizontal-toggle-wrap{display:none}
.cardview #horizontal-toggle-wrap{display:inline}

@keyframes switch-view {
  from{transform:scale(0.99)}
  to{transform:scale(1)}
}
.view-switch{animation:switch-view 0.2s ease-out}

@media screen and (min-width:640px){
    #list{padding:2em 1em 0 3em}
    .drop-nav{left:3em}
}
@media screen and (max-width:640px){
    #list{padding:1em}
    .drop-nav{left:1em}
}
