{% extends "base.html" %}
{% block title %}Add a record{% endblock %}
{% block head %}{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/autocomplete.css?{{ version }}" />
    <link rel="stylesheet" href="{{ base_url }}/assets/css/set.css?{{ version }}" />
{% endblock %}
{% block extrascripts %}
    <script src="{{ base_url }}/assets/js/jquery.formset.js?{{ version }}"></script>
    <script src="{{ base_url }}/assets/js/ac_formset.js?{{ version }}"></script>
    <script src="{{ base_url }}/assets/js/tag.js?{{ version }}"></script>
{% endblock %}

{% block header %}{% endblock %}
{% block content %}
    {% include 'tag/record-form.html' %}
{% endblock %}

{% block footer %}{% endblock %}
{% block cookies %}{% endblock %}
