{% extends "base.html" %}
{% block head %}{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{{ base_url }}/css/vocabulary.css?{{ version }}" />
    <link rel="stylesheet" href="{{ base_url }}/css/autocomplete.css?{{ version }}" />
    <link rel="stylesheet" href="{{ base_url }}/css/set.css?{{ version }}" />
{% endblock %}
{% block extrascripts %}
    <script src="{{ base_url }}/js/jquery.formset.js?{{ version }}"></script>
    <script src="{{ base_url }}/js/ac_formset.js?{{ version }}"></script>
{% endblock %}

{% block header %}{% endblock %}
{% block content %}
    {% if not record %}
        <h2 style="margin-top:0">Add a record</h2>
    {% endif %}
    {% include 'tag/record-form.html' %}
{% endblock %}

{% block footer %}{% endblock %}
