{% extends 'pay/base.html' %}
{% block search %}{% endblock %}
{% block content %}
<h1>Get Professional Plus Membership</h1>

<form method="post" action="#" id="plans">
    {% csrf_token %}
    {% for plan_value, plan_name in plans %}
        <p><button name="plan" value="{{ plan_value }}"
            type="submit" class="btn btn-default">
                <strong>One-Year Membership</strong> - £229<br>
                <small>All premium features, one-time payment, full-year access</small>
            </button>
    {% endfor %}
    <ul>
        <li><strong>Includes:</strong></li>
        <li>✔️ Create and Export Private Vocabularies
        <li>✔️ Multi-User Team Access for Collaboration
        <li>✔️ Priority Support
    </ul>
    <p><em>One-time purchase, no recurring fees or renewal reminders.</em><br>
        Payments are securely processed via PayPal with purchase protection included.
    <p>Got questions or suggestions? Reach out to <a href="/fm/">F. Malina</a>.
</form>
{% endblock %}
