{% extends "account/base.html" %}
{% block head_title %}Sign up{% endblock %}
{% block content %}
<hgroup>
<h1>Sign up</h1>
<p>Already have an account? <a href="{{ login_url }}">Log in</a>.
</hgroup>
{% include "account/social_account.html" %}
<form method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p class="offscreen">
      🤖 name: <input type="text" name="bname" value="" placeholder="humans leave this out" />
  <p><button type="submit">Create your account</button>
</form>
{% endblock %}
