<!DOCTYPE html>
{% spaceless %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}{% if not app_list %} - {{ site_name }}{% endif %}</title>
    {% if description %}<meta name="description" content="{% block description %}{% endblock %}">{% endif %}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="https://unilexicon.com{{ request.path_info }}">
    <link rel="stylesheet" href="/assets/css/medd.css">
    <script src="/assets/js/cookies.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
    <div class="header">
        <div>
            <div class="logo">Unilexicon <a href="{{ site_url }}">Medicines</a></div>
            <form method="GET" action="{{ site_url }}s" target="_top">
            <input type="text" name="q" class="searchbox"{% if q %} value="{{q}}"{% endif %} placeholder="Search medicine name or code">
            {% csrf_token %}
            </form>
        </div>
    </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
        {% include 'debug.html' %}
        <script src="/ad.js"></script>
        {% include 'ad.html' %}
    </div>
    <div class="footer"><small>&copy; {% now "Y" %} {{ site_name }}{% if app_list %} by <a href="/fm/">F. Malina</a></small>{% endif %}</div>
    <div id="cookie-consent"></div>
</body>
</html>
{% endspaceless %}
