{% extends "medd/base.html" %}
{% load tags %}
{% block title %}{{ object }} ‹ {{ object.model.verbose_name|capfirst }}{% endblock %}

{% block content %}
<p class="breadcrumbs">
<a href="{{ site_url }}">Home</a> / {% if 'lookup' in object.url %}<span class="muted">Lookup:&nbsp;</span>
    {% endif %}{% if a_z %}<a href="{{ object.model.url }}AZ*{{ a_z }}">{{ object.model.verbose_name_plural|capfirst }}: {{ a_z }}</a>{% else %}
    <a href="{{ object.model.url }}">{{ object.model.verbose_name_plural|capfirst }}</a>{% endif %} / <span class="active">{{ object }}</span>
</p>
<h1>{{ object }}</h1>
{% include 'ad-wide.html' %}
{% include 'medd/data_dl.html' %}
{% include 'medd/data_rel.html' %}
{% endblock %}
