{% extends "medd/base.html" %}
{% load tags %}
{% block title %}{{ site_name }} NHS dm+d data browser{% endblock %}
{% block description %}Search and browse NHS standard Dictionary of Medicines
and Devices (dm+d), medicine dictionary used throughout the NHS to identify
medicines and medical devices.{% endblock %}

{% block content %}
<h1>Explore the NHS Dictionary of<br>Medicines and Devices</h1>
<p>Last data update: <b>{% include 'medd/last-update.txt' %}</b></p>

<hr>

<ul class="cols 2col">
{% for app, new, original, models in app_list %}
    <li class="section">{% if original == 'Lookup' %}Lookup by{% endif %}
    <ul>
        {% for model in models %}
        <li><a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a>
            <br><small>{% for object in model.sample_objects %}
                {{ object }}{% if not forloop.last %},
                    {% else %}&hellip;{% endif %}
                {% endfor %}</small></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
<hr>

<div class="flex-grid">
<section>
    <div class="notices">
    <h3>Privacy and cookies</h3>
    <p>This website does not collect your personal information.
        Access of each resource is logged in our server logs, which aren't normally reviewed.
        <a href="https://www.google.com/policies/technologies/ads/">Advertising cookies</a>
        are used to make advertising more effective. If you contact us, your contact information will be solely
        used to communicate with you regarding your query.</p>

    <h3>Disclaimers</h3>
    <p>This site is not run by a medical professional.
        Information provided here is meant to complement and not replace any advice
        or information from a health professional.</p>
    <p>This site displays relevant, on topic advertising, clearly separated
        from the content and marked as advertisement. Content of the site
        is not influenced by advertisers. We do not control the ads’ content.</p>
    <hr>
    <h3>Commercial Services</h3>
    <p>REST API, CSV and SQL exports, custom exports and API endpoints as per customer requirements are available.
    <ul>
    <li><u>API for medicine product search</u>
        {#<a href="{{ site_url }}api/search?q=paracetamol"></a>#}</li>
    <li><u>API for product lookups using GTIN/EAN codes</u>
        {#<a href="{{ site_url }}api/gtin/5017007016533"></a>#}</li>
    <li><u>Sample product pack CSV export</u>
        {#<a href="{{ site_url }}api/csv"></a>#}</li>
    <li><u>Regular DM+D as SQL export</u></li>
    </ul>
    <p>Medicine server with admin site, licensing and customisation.
    <p>Request API access, full data or CSV exports, enquire about the
        integration with your systems.    <br><br>
    <p><a class="btn" href="/fm/">Contact us</a>
    </div>
</section>
<section>
    <h2>Editorial policy</h2>
    <p>Share any link on the site using its URL copied from your address bar,
        we guarantee it will point to the right place even
        if product name or other information changes in the future.
    <hr>
    <p>All data published on this site is consistent with the dm+d as per
        dm+d editorial policy. Full up to date document can be downloaded from the
        <a href="https://www.nhsbsa.nhs.uk/pharmacies-gp-practices-and-appliance-contractors/dictionary-medicines-and-devices-dmd">dm+d documentation</a>.
    <h3>Who decides which information will be published?</h3>
    <p>dm+d Programme Board and Content Committee chaired by the Head of Medicines,
        Pharmacy and Industry Group, Department of Health.
    <h3>Is the information peer-reviewed?</h3>
    <p>Peer Review Group members are asked to review and comment on papers
        for submission to the dm+d and provide feedback via email.
        The group consisting of clinical and other professionals can meet if needed.</p>
    <h3>Is the content regularly reviewed?</h3>
    <p>Content of dm+d is continually reviewed and improved. Releases of up-to-date
        datasets are provided weekly.</p>
        This site is kept up to date with
        the latest releases on a regular basis unless there are backwards
        incompatible changes to the dm+d schema or libraries used.
</section>
</div>
{% endblock %}
