{% extends "medd/base.html" %}
{% load pagination_tags tags %}
{% block title %}{{ model.verbose_name_plural|capfirst }}{% if request.page != 1 %} (Page {{ request.page }}) {% endif %}{% endblock %}

{% block content %}
<p class="breadcrumbs">
    <a href="{{ site_url }}">Home</a> /
    <span class="active">
        {% if 'lookup' in request.path %}Lookup:{% endif %}
        {{ model.verbose_name_plural|capfirst }}</span>
</p>

{% with model.objects as objects %}
<h1>{{ model.verbose_name_plural|capfirst }} <b class="badge">{{ count }}</b></h1>

{% autopaginate objects 100 %}
<ul class="ls{% if count > 20 %} cols{% endif %}">
{% for object in objects %}
    {% ifchanged object.first_letter %}
        {% if not forloop.first and not object.first_letter.isdigit and count > 20 %}
        <li><h2>{{ object.first_letter }}</h2></li>
        {% endif %}
    {% endifchanged %}
    <li><a href="{{ object.url }}">{{ object }}</a></li>
{% endfor %}
</ul>

<div class="clear"></div>

{% paginate %}
{% if a_z and count > 500 %}
<div class="clear"></div>
<div class="pagination a-z">
{% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
    <a href="AZ*{{ letter }}"{% if forloop.last %} class="last"{% endif %}>{{ letter }}</a>
{% endfor %}
</div>
{% endif %}

{% endwith %}
{% endblock %}
