{% extends 'medd/base.html' %}
{% load tags %}
{% block title %}{{ q }}{% endblock %}
{% block content %}

<p><b>Commercial usage notice</b>:
    If you are a commercial user using this search tool during course of your business,<br>
    please ensure your organisation have purchased and has active
    <a href="/pro/subscribe">professional membership</a>.</p>

{% if m %}<p>{{ m }}{% endif %}
<h1><small>{% if total %}Results for{% else %}No results{% endif %}:</small><br>
    {{ q }} <span class="badge">{{ total }}</span></h1>
{% include 'ad.html' %}
{% if total %}
    <ul class="ls{% if total > 20 %} cols{% endif %}">
        {% for app, results, count in sr %}
            {% if count %}
                <li><h3>{{ app }} <span class="badge">{{ count }}</span></h3>
                <ul>{% for r in results %}
                    <li><a href="{{ r.url }}">{{ r|highlight:q }}</a>
                    {% if digit %}<br><small>{{ r.pk|highlight:q }}</small>{% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>Site search can <b>look for names</b> of medicinal products or concepts. Try to reword your query if your results don't match.
    <p>It can also <b>search the codes</b>, even partial ones, just type in at least 4 digits.
    <p>There are <b>more types of lookup</b> listed on the <a href="{{ site_url }}">homepage</a>, such as suppliers, flavours or colours.
    
{% endif %}
{% endblock %}
