<!DOCTYPE html>
{% spaceless %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}{% if not app_list %} - {{ site_name }}{% endif %}</title>
    {% if description %}<meta name="description" content="{% block description %}{% endblock %}">{% endif %}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="https://unilexicon.com{{ request.path_info }}">
    <link rel="stylesheet" href="/css/medd.css">
    <style>{% block style %}{% endblock %}</style>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
    <div class="header">
        <div>
            <div class="logo">
                <a href="/">Unilexicon</a> <span>for</span>
                <a href="{{ site_url }}">Medicines</a>
            </div>
            <form method="GET" action="{{ site_url }}s" target="_top">
            <input type="text" name="q" class="searchbox"{% if q %} value="{{q}}"{% endif %}
                   placeholder="Search medicine name or code">
            {% csrf_token %}
            </form>
        </div>
    </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">&copy; {% now "Y" %} <a href="{{ site_url }}">{{ site_name }}</a></div>
</body>
</html>
{% endspaceless %}