{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<h1>Admin</h1>
{% if app_list %}
    <ul>
    {% for app in app_list %}
        {% for model in app.models %}
            <li>
            {% if model.perms.change %}
                <a href="{{ model.admin_url }}">{{ model.name }}</a>
            {% else %}
                {{ model.name }}
            {% endif %}

            {% if model.perms.add %}
                &nbsp;<a href="{{ model.admin_url }}add/" title="add a {{ model.name }}">+</a>
            {% endif %}
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
{% endblock %}