{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<p>{% trans "Your account is now activated." %}</p>

<p>Welcome to Unilexicon. Now you can <a href="{% url 'listings' %}">explore, add and edit vocabularies</a>.</p>
<p>Unilexicon is a small club. Please be civilised as you have the power to edit any vocabulary on the site.<br>
    It's best to start your own vocabulary to get a feel for the tool and how you can use it.</p>
<p>Please leave your feedback, to help improve the system.</p>
{% endblock %}