{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<p>{% trans "Your account is now activated." %}</p>

<p>Welcome to Unilexicon β. Now you can <a href="{% url 'listings' %}">explore, add and edit vocabularies</a>.</p>
<p>Unilexicon is a small club. Please be civilised as you have the power to edit any public vocabulary on the site.<br>
    It's best to start your own vocabulary to get a feel for the tool and how you can use it.</p>
<p>Please share your feedback to help improve Unilexicon and speed up the official release.</p>
<p>Kind regards,<br>
    F. Malina, author<br>
    fmalina@gmail.com</p>
{% endblock %}