{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Forgot your password?' %}{% endblock %}
{% block content_wrap %}
<h1>{% trans 'Forgot your password?' %}
    <small><a href="{% url 'auth_login' %}">{% trans 'Ah, I got it!' %}</a></small></h1>
<form method="post" action="." class="auth">
    {{ form.email.errors }}
    <p><label for="id_email">{% trans 'Enter your e-mail address' %}</label> {{ form.email }}</p>
    <p>{% csrf_token %}
        <button type="submit">{% trans 'Send me a link to set my new password' %}</button></p>
</form>
{% endblock %}
