{% extends 'vocabulary/base.html' %}
{% block title %}{{vocabulary.title}}{% endblock %}
{% block extrahead %}
    {% if vocabulary.description %}<meta name="description" content="{{ vocabulary.description }}">{% endif %}
{% endblock %}
{% block extrascripts2 %}
    <script src="{{ base_url }}/js/jquery.cookie.js?{{ version }}"></script>
    <script src="{{ base_url }}/js/vocab_browse.js?{{ version }}"></script>
{% endblock %}
{% block body_id %} id="hypertree"{% endblock %}
{% block content %}
<div id="main">
{% if count %}
<div class="drop-nav">
    <b>Switch view <i class="icon-caret"></i></b>
    <ul>
        <li>Editing vocabulary
        <li><a href="{% url 'order' vocabulary.node_id %}">Cards, order priorities</a>
        <li><a href="{% url 'ul'    vocabulary.node_id %}">Tree, nested list (3 levels)</a>
        <li><a href="{% url 'nav'   vocabulary.node_id %}">Tabs and dropdowns</a>
            <br><br>
        <li>Export:
            <a href="{% url 'json'  vocabulary.node_id %}">JSON</a> /
            <a href="{% url 'skos'  vocabulary.node_id %}">SKOS</a> /
            <a href="{% url 'csv'   vocabulary.node_id %}">CSV</a>
    </ul>
</div><!-- /switch view -->
{% endif %}

<div id="infovis">
</div><!-- /infovis -->
<div id="aside">
<h1>{{ vocabulary.title }} <small>
    {% if count == 0 %}
        <br>empty, use <b>+</b> to add a concept
    {% else %}
        {{ count }} concept{{ count|pluralize }}
    {% endif %}
    </small></h1>
    <div id="editing"></div><!-- /editing -->
    {% if count > 1000 %}
        <p class="info">
            Only first 3 levels of taxonomies over thousand concepts large are shown in Beta.<br>
            Switch view to more suitable display.
    {% endif %}
</div><!-- /aside -->
</div><!-- /main -->
<div id="log"></div>
{% endblock %}
