{% extends 'vocabulary/base.html' %}

{% block title %}{{ vocabulary.title }}{% endblock %}

{% block extrastyles %}
    <link type="text/css" rel="stylesheet" href="{{ site_url }}/css/meeting.css?{{ version }}" />
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{{ site_url }}/js/jquery-ui-1.8.2.custom.min.js?{{ version }}"></script>
    <script type="text/javascript" src="{{ site_url }}/js/ui.sortable-1.8.js?{{ version }}"></script>
    <script type="text/javascript">
        $(function(){
	        $(".sort").sortable({
	        	placeholder: 'placeholder',
	        	forcePlaceholderSize: true
	            /* TO DO: use this to edit display order.
					update: function(){
						$.ajax({
							type: 'POST',
							url: 'order',
							data: function(){},
							success: function(){
								$(this).addClass("done");
							}
						});
					} */
	        });
        });
    </script>
{% endblock %}

{% block content %}
<div id="content-in">
	<div id="views"><a href="./">&laquo; back to hypertree</a></div>
	<ul id="nav" class="sort">
	{% include "vocabulary/ul-3levels.html" %}
	</ul>
</div>
{% endblock %}
