<ul id="panel">
    <li>{% if concept %}
        {% for crumb in concept.breadcrumb %}
            {% if not forloop.last %}
                <a href="{{ crumb.get_absolute_url }}">{{ crumb }}</a> &rarr; <br>
            {% else %}
                {% for parent in concept.parent.all %}
                    {% if parent != concept.mother %}<a href="{{ parent.get_absolute_url }}">&larr; {{ parent.name }}</a><br>{% endif %}
                {% endfor %}
                <b>{{ crumb }}</b>
            {% endif %}
        {% endfor %}
    {% else %}
        <b>{{ vocabulary }}</b>
        {% if vocabulary.description and not user.is_authenticated %}<br>
            {{ vocabulary.description }}
        {% endif %}
    {% endif %}</li>

    {% for c in children %}
        <li>&nbsp;&nbsp;&rarr; <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if c.description and not user.is_authenticated %}<br>
            {{ c.description }}
        {% endif %}
        </li>
    {% endfor %}

    {% if concept.related.all %}
    {% for r in concept.related.all %}
    <li>&nbsp;&nbsp;&harr; <a href="{{ r.get_absolute_url }}">{{ r.name }}</a></li>
    {% endfor %}
    {% endif %}
    {% if synonyms %}
    <li id="synonyms"><b>Synonyms</b><br>
        <ul>
        {% for s in synonyms %}
        <li>&ndash; {{ s }}</li>
        {% endfor %}
        </ul><li>
    {% endif %}
</ul>
