<ul id="panel">
    <li>{% if concept %}
        {% for crumb in concept.breadcrumb %}
            {% if not forloop.last %}
                <a href="{{ crumb.get_absolute_url }}">{{ crumb }}</a> &rarr; 
            {% else %}
                {% for parent in concept.parent.all %}
                    {% if parent != concept.mother %}<a href="{{ parent.get_absolute_url }}">&larr; {{ parent.name }}</a><br>{% endif %}
                {% endfor %}
                <b>{{ crumb }}</b>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if vocabulary.description and not user.is_authenticated %}
            <p>{{ vocabulary.description }}
                {% if vocabulary.source %}
                    <a class="external" href="{{ vocabulary.source }}">source</a>
                {% endif %}
        {% endif %}
    {% endif %}</li>

    {% for c in children %}
        <a href="{{ c.get_absolute_url }}">
            {{ c.name }}</a><span class="text-muted">{% if c.description and not user.is_authenticated %}:
            {{ c.description }}
        {% endif %}
        {% if not forloop.last %} | {% endif %}</span>
    {% endfor %}
</ul>
