<script src="{{ base_url }}/js/jquery.autocomplete.js?{{ version }}"></script>
<script>
$(document).ready(function(){
    $("#q").autocomplete("{{ base_url }}{% url 'autocomplete' %}", {
        width: 380,
        scrollHeight: 'auto',
        selectFirst: false,
        autoFill: false,
        minChars: 1
    }).attr("autocomplete","off");
    $("#q").result(function(event, data, formatted){
        if(data){
            window.location = $(data[0]).find('.go').attr('href');
            $(this).val('');
        }
    });
});
</script>

<form id="search" method="get" action="{{ base_url }}{% url 'vocabulary.views.search' %}">
    <div>
        <input type="text" id="q" name="q" value="{{ q }}" placeholder="Search vocabularies" /><button type="submit">
            <i class="icon-search"></i></button>
    </div>
</form>
