{% extends 'vocabulary/base.html' %}

{% block title %}{{ vocabulary.title }}{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ base_url }}/css/megadropdown.css?{{ version }}" />
{% endblock %}

{% block extrascripts %}
<script src="{{ base_url }}/js/jquery.hoverIntent.js?{{ version }}"></script>
<script>
$(function(){
	function addMega(){$(this).addClass("hovering");}
	function  rmMega(){$(this).removeClass("hovering");}
	$("#mega > li").hoverIntent(addMega, rmMega);
	$("#mega .level2-wrap").each(function(){
		var pos = $(this).parent().position().left;
		//var p_w = $(this).parent().width();
		//var width = $(this).width();
		var pos_px =  pos.toString() + 'px';
		$(this).css({'left': pos_px});
	});
});
</script>
{% endblock %}

{% block content %}
	<div id="views"><a href="./">&laquo; back to editing</a>  &middot; see how this taxonomy might work if used for tabs and dropdowns navigation</div>
	<ul id="mega">
	{% include "vocabulary/ul-3levels.html" %}
	</ul>
	<h2>{{ vocabulary.title }}</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}
