{% extends 'vocabulary/base.html' %}
{% block title %}{{ vocabulary.title }}{% endblock %}

{% block extrastyles %}
<style>
.mega-menu,
.mega-menu a.level1,
.mega-menu .level2-wrap{border:1px solid #aaa}
.mega-menu{background:#eee;font-size:.8rem;clear:both;position:relative;margin:2em 0;padding:1em 1em 0 1em;border-radius:2px}
.mega-menu a{text-decoration:none}
.mega-menu a:hover{text-decoration:underline}
.mega-menu a.level1{padding:.5em 1em;border-radius:2px 2px 0 0;background:#fff}
.mega-menu .hovering .level1{border-bottom-color:#fff}
.mega-menu .level2{padding:.5em 0;font-weight:bold;display:block}
.mega-menu .level3{display:block;padding:.2em 0;margin:0}
.mega-menu a.level1{display:block;padding:8px 12px;border-bottom:0}
.mega-menu .level1-inner-wrap{list-style:none;display:inline-block;position:relative}
.mega-menu .level1-inner-wrap:hover{z-index:3}
.mega-menu .level1-inner-wrap:hover a.level1{position:relative;z-index:4;border-bottom-color:#fff}
.mega-menu .level2-wrap{position:absolute;top:1.9rem;border-radius:2px;z-index:3;display:none;
	                    background:#fff;padding:1rem;margin:0}
.mega-menu .level2-wrap .haschildren a{margin-bottom:0}
.mega-menu .level2-inner-wrap{display:inline-block}
.mega-menu .level2-wrap{color:bold}
.mega-menu .level3-wrap{list-style:none;padding:0 0 1em 0;font-weight:normal}
.mega-menu .level1-inner-wrap.hovering .level2-wrap{display:block !important}
.mega-menu .level2-inner-wrap{width:14em;vertical-align:top;margin-right:1em}
.mega-menu .col5{margin-right:0}
</style>
{% endblock %}

{% block extrascripts %}
<script src="{{ base_url }}/js/jquery.hoverIntent.js?{{ version }}"></script>
<script>
$(function(){
	function addMega(){$(this).addClass("hovering");}
	function  rmMega(){$(this).removeClass("hovering");}
	$(".mega-menu > li").hoverIntent(addMega, rmMega);
});
</script>
{% endblock %}

{% block content %}
	<div id="views"><a href="./">&laquo; back to editing</a>  &middot; see how this taxonomy might work if used for tabs and dropdowns navigation</div>
	<ul class="mega-menu">
	{% include "vocabulary/ul-3levels.html" %}
	</ul>
	<h1>{{ vocabulary.title }} nav. demo</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}
