{% extends 'vocabulary/base.html' %}

{% block title %}{{ vocabulary.title }}{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ base_url }}/css/meeting.css?{{ version }}" />
{% endblock %}

{% block extrascripts %}
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script>
	$(function(){
		$(".sort").sortable({
			placeholder: 'placeholder',
			forcePlaceholderSize: true,
			update: function(){
				var data = $(this).sortable('serialize');
				$.ajax({
					type: 'POST',
					data: data,
					url: '{% url 'ordering' vocabulary.node_id %}',
					success: function(){
						$(this).addClass("done");
						window.location.reload(); // TODO now re-key the li IDs instead
					}
				});
			}
		});
	});
	</script>
{% endblock %}

{% block content %}
<div id="content-in">
	<div id="views"><a href="./">&laquo; back to editing</a></div>
	<ul id="nav" class="sort">
	{% include "vocabulary/ul-3levels.html" %}
	</ul>
</div>
{% endblock %}
