<form action="{{ request.path }}" method="post">
{% if not allowed %}
    <p>Only authors and staff members can delete vocabularies.
{% else %}
    <p>Are you sure you wish to delete <b>'{{ vocabulary.title }}'</b>?</p>

    {% with vocabulary.concept_set.count as c %}
        <div>{% if c %}
        This will also delete the {{ c }} concept{{ c|pluralize }} in the vocabulary
        and {% if c == 1 %}its{% else %}their{% endif %} relations with concepts in other vocabularies.
    {% endif %}
        <label>I understand.
        <input type="checkbox" name="understand" value="understand"> </label></div>
    {% endwith %}
    <p><button type="submit" class="delete">Delete</button>
    {% csrf_token %}
{% endif %}
    <a href="#cancel" class="cancel">cancel</a></p>
</form>
